{% extends 'module.twig.html' %}

{% block title_page %}Expéditeurs{% endblock %}
{% set this_page = 'Gestion' %}

{% block module %}
    <div class="fancy-title title-dotted-border">
        <h3>Liste des gabarits de newsletter</h3>
    </div>

    <div class="ed-menu marginbottom-sm">
        <a href="{{ siteUrl('ext/newsletter_model') }}" class="button button-mini"><i class="icon-th-list"></i> Gérer</a>
        <a href="{{ siteUrl('ext/newsletter_model/edit') }}" class="button button-mini"><i class="icon-plus"></i> Ajouter</a>
    </div>
    <br /><br />
    <div class="clear"></div>

    <div class="table-responsive">
        {% if contentRows|length > 0 %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th style="width: 300px"></th>
                </tr>
                </thead>
                <tbody>
                {% for row in contentRows %}
                    <tr class="tr1">
                        <td>
                            {{ row.newsletter_model_name }}
                        </td>
                        <td class="text-right">
                            <a href="{{ siteUrl('ext/newsletter_model/draw/' ~ row.newsletter_model_id) }}"><i class="icon-photo"></i></a>
                            <a href="{{ siteUrl('ext/newsletter_model/edit/' ~ row.newsletter_model_id) }}"><i class="icon-pencil"></i></a>
                            <a data-lightbox="ajax" href="{{ siteUrl('ext/newsletter_model/delete/' ~ row.newsletter_model_id) }}"><i class="icon-trash2"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% include 'form/generic/nocontent.twig' with {'msg':"Aucun gabarit n'est enregistré."} %}
        {% endif %}
    </div>
{% endblock %}