<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Identification - JContent</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ siteUrl('assets/vendor/fontawesome/css/font-awesome.min.css',false) }}" />
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        <link rel="icon" type="image/png" href="{% include 'favicon.twig.html' %}" />
    </head>
    <body>
        <div class="wrapper">
            <img src="{{ asset('img/j-content-logo.png') }}" alt="JContent" title="Logo JContent">
            <h1 class="title">Administration</h1>
            <form class="login" action="{{ siteUrl('secured/login') }}" method="post">
                <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
                <p>Interface de gestion de contenus<br> pour votre site internet</p>
                <input type="text" name="username" placeholder="Identifiant" autofocus/>
                <i class="fa fa-user"></i>
                <input type="password" name="password" placeholder="Mot de passe" />
                <i class="fa fa-key"></i>
                <button type="submit">
                    <i class="spinner"></i>
                    <span class="state">Connexion</span>
                </button>
                <p class="credits">JContent<br />est une solution réalisée par <a href="https://www.jweb-creation.fr/" title="JWeb Création, concepteur de site internet sur mesure">JWeb-Création.fr</a></p>
            </form>
        </div>
    </body>
</html>