{% extends 'module.twig.html' %}

{% block title_page %}{{ _('profil') }}{% endblock %}

{% set this_page = _('modification') %}
{% set title_block_page = _('profil_title') %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/secured/profile') }}" class="form-vertical" enctype="multipart/form-data" accept-charset="utf-8">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="form-process"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>

    <div class="fancy-title title-dotted-border">
        <h3>{{ _('profil_title') }}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="col_one_third">
                <div class="title-block">
                    <h3><span>{{ _('profil_ip_title') }}</span></h3>
                </div>

                <div class="ed_field col_full">
                    <label>{{ _('login') }}<span class="icon-asterisk"></span></label>
                    <input type="text" id="user_name" name="user_name" class="form-control" value="{{ user.name }}" />
                </div>
                <div class="ed_field col_full">
                    <label>{{ _('nom') }}</label>
                    <input type="text" id="user_lname" name="user_lname" class="form-control" value="{{ user.lname }}" />
                </div>
                <div class="ed_field col_full">
                    <label>{{ _('prenom') }}</label>
                    <input type="text" id="user_fname" name="user_fname" class="form-control" value="{{ user.fname }}" />
                </div>
            </div>
            <div class="col_one_third">
                <div class="title-block">
                    <h3><span>{{ _('profil_password_title') }}</span></h3>
                </div>

                <div class="ed_field col_full">
                    <label>{{ _('profil_password_old') }}</label>
                    <input type="password" id="last_password" name="last_password" class="form-control" value="" />
                </div>
                <div class="ed_field col_full">
                    <label>{{ _('profil_password_new') }}</label>
                    <input type="password" id="password" name="password" class="form-control" value="" />
                </div>
                <div class="ed_field col_full">
                    <label>{{ _('profil_password_confirm') }}</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" value="" />
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="title-block">
                    <h3><span>{{ _('profil_image_title') }}</span></h3>
                </div>

                <div class="col_two_third">
                    <div class="ed_field col_full avatar">
                        <label>{{ _('profil_image_upload') }}</label>
                        <input value="{{ user.photo }}" name="photo" type="file" class="upload-photo file-loading" data-field="photo" data-uploadurl="{{ siteUrl( 'secured/upload' ) }}">
                        <input id="photo" value="{{ user.photo }}" name="uphoto" type="hidden">
                    </div>
                </div>
                <div class="col_one_third col_last">
                    <div class="testi-image">
                        <img id="avatarview" src="{{ user.photo == '' ? asset('canvas/img/nobody.jpg') : siteUrl( user.photo , false ) }}">
                    </div>
                </div>

            </div>

            {% include 'form/generic/button.twig' %}
        </div> 
    </div>
</form>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('canvas/css/src/components/bs-filestyle.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('canvas/js/components/bs-filestyle.js') }}"></script>
    <script src="{{ asset('canvas/js/easydoor/locales/fileinput/fr.js') }}"></script>
    <script src="{{ asset('canvas/js/easydoor/profile.js') }}"></script>
{% endblock %}