{% extends 'module.twig.html' %}

{% block title_page %}Profil{% endblock %}

{% set this_page = 'Modification' %}
{% set title_block_page = 'Modification de votre profil' %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/secured/profile') }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field">
                <label>Login</label>
                <input type="text" id="user_name" name="user_name" class="form-control" value="{{ user.name }}" />
            </div>
            <div class="ed_field">
                <label>Nom</label>
                <input type="text" id="user_lname" name="user_lname" class="form-control" value="{{ user.lname }}" />
            </div>
            <div class="ed_field">
                <label>Prénom</label>
                <input type="text" id="user_fname" name="user_fname" class="form-control" value="{{ user.fname }}" />
            </div>
            <div class="ed_field">
                <label>Ancien mot de passe</label>
                <input type="password" id="last_password" name="last_password" class="form-control" value="" />
            </div>
            <div class="ed_field">
                <label>Nouveau mot de passe</label>
                <input type="password" id="password" name="password" class="form-control" value="" />
            </div>
            <div class="ed_field">
                <label>Confirmer le nouveau mot de passe</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" value="" />
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a id="btn_back" href="{{ siteUrl('/user') }}" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Retourner à la liste</a>
                </div>

                <div class="col-md-5 col-md-offset-5 text-right">
                    <button type="submit" id="btn_submit" name="submit" value="back" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
                </div>
            </div>
        </div> 
    </div>
</form>
{% endblock %}