{% extends 'module.twig.html' %}

{% block title_page %}Domaines{% endblock %}

{% if id != -1 %}
	{% set this_page = 'Modification' %}
	{% set title_block_page = 'Modification d\'un nom de domaine' %}
{% else %}
	{% set this_page = 'Ajout' %}
	{% set title_block_page = 'Ajout d\'une nouveau nom de domaine' %}
{% endif %}

{% block module %}

	<div class="fancy-title title-dotted-border">
		<h3>{{ title_block_page }}</h3>
	</div>

    <div class="ed-menu">
        <a href="{{ siteUrl('admin/domain') }}" class="button button-mini"><i class="icon-th-list"></i>Gérer</a>
    </div>
    <br />

    <form name="form" method="post" action="{{ siteUrl('admin/domain/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
		<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />

		<div class="ed_field col_half" id="field-domain_name">
			<label>Nom de domaine <span class="icon-asterisk"></span></label>
			<input type="text" name="domain_name" class="form-control" value="{{ post.domain_name }}" />
		</div>
		
		<div class="clear"></div>

		{% include 'form/generic/button.twig' %}
	</form>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('canvas/js/easydoor/form.js') }}"></script>
{% endblock %}