{% extends 'module.twig.html' %}

{% block title_page %}{{ _('uf_edit_title_page') }}{% endblock %}

{% if id != -1 %}
	{% set this_page = _('ufg_edit_modif') %}
	{% set title_block_page = _('user_edit_modif_title') %}
{% else %}
	{% set this_page = _('ufg_edit_add') %}
	{% set title_block_page = _('user_edit_add_title') %}
{% endif %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('ext/user/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_half">
                <label>{{ _('login') }}</label>
                <input type="text" id="user_name" name="user_name" class="form-control" value="{{ post.user_name }}" />
            </div>
            <div class="clear"></div>
            <div class="ed_field col_half">
                <label>{{ _('nom') }}</label>
                <input type="text" id="user_lname" name="user_lname" class="form-control" value="{{ post.user_lname }}" />
            </div>
            <div class="ed_field col_half col_last">
                <label>{{ _('prenom') }}</label>
                <input type="text" id="user_fname" name="user_fname" class="form-control" value="{{ post.user_fname }}" />
            </div>
            {% if id == -1 %}
            <div class="ed_field col_half">
                <label>{{ _('login_mdp') }}</label>
                <input type="password" id="password" name="password" class="form-control" value="" />
            </div>
            <div class="ed_field col_half col_last">
                <label>{{ _('mdp_confirm') }}</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" value="" />
            </div>
            {% endif %}

            <div class="ed_field col_half col_last">
                <label>{{ _('user_edit_grp_admin') }}</label>
                <select name="user_group_id" class="form-control">
                    {% for group in groupRows %}
                        <option value="{{ group.user_group_id }}" {{ group.user_group_id == post.user_group_id ? ' selected' : '' }}>{{ group.user_group_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% include 'form/generic/button.twig' %}
        </div>
    </div>

</form>
{% endblock %}