{% extends 'module.twig.html' %}

{% block title_page %}Menu d'administration{% endblock %}
{% set this_page = 'Gestion' %}

{% block module %}

<div class="fancy-title title-dotted-border">
    <h3>Menu d'administration</h3>
</div>

<div class="ed-menu">
    <a href="{{ siteUrl('admin/groupmodule/edit') }}" class="button button-mini"><i class="icon-plus"></i> Ajouter</a>
</div>
<br />

{% if contentRows | length > 0 %}

    <div class="table-responsive">
        <table class="table table-striped table-gestion table-search table-ext table-hover mb-none">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Modules</th>
                <th>Statut</th>
                <th class="text-right" style="width: 120px"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="tr1">
                <td>Accueil</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="tr1">
                <td>Menu</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for row in contentRows %}
            <tr class="tr1">
                <td>
                    <a href="{{ siteUrl('admin/groupmodule/edit/' ~  row.module_group_id) }}">{{ row.module_group_name }}</a>
                </td>
                <td>
                    <a href="javascript:;" class="openmodule">
                        <a class="button button-3d button-mini button-rounded button-primary openmodule" href="javascript:;" data-group="{{ row.module_group_id }}" data-title="{{ row.module_group_name }}">Voir les modules</a>
                    </a>
                </td>
                <td>
                    {% if row.module_group_active == 0 %}
                        <a class="button button-3d button-mini button-rounded button-yellow" href="{{ siteUrl('admin/groupmodule/active/' ~  row.module_group_id ~ '/' ~ csrf_token) }}">Désactivé</a>
                    {% else %}
                        <a class="button button-3d button-mini button-rounded button-green" href="{{ siteUrl('admin/groupmodule/disactive/' ~  row.module_group_id ~ '/' ~ csrf_token) }}">Activé</a>
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if loop.index != 1 %}<a href="{{ siteUrl('admin/groupmodule/order/up/' ~  row.module_group_id ~ '/' ~ csrf_token) }}" class="btn btn-sm btn-default"><i class="fa fa-arrow-up"></i></a>{% endif %}
                    {% if loop.index != contentRows|length %}<a href="{{ siteUrl('admin/groupmodule/order/down/' ~  row.module_group_id ~ '/' ~ csrf_token) }}" class="btn btn-sm btn-default"><i class="fa fa-arrow-down"></i></a>{% endif %}

                    <a href="{{ siteUrl('admin/groupmodule/edit/' ~ row.module_group_id) }}"> <i class="icon-pencil"></i> </a>
                    <a href="{{ siteUrl('admin/groupmodule/delete/' ~ row.module_group_id) }}" data-lightbox="ajax"><i class="icon-trash2"></i></a>
                </td>
            </tr>
            {% endfor %}

            <tr class="tr1">
                <td>Paramètres</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="tr1">
                <td>SEO</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="tr1">
                <td>Développeur</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

{% else %}

    <div class="nocontent"> Aucun menu d'administration enregistré. </div>

{% endif %}

<div id="orderModule" style="display: none;">
    <section class="panel table ext">
        <header class="panel-heading">
            <h2 class="panel-title" id="titleGroupe">Modules du groupe</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <ul class="Selecter" id="SelecterHasGroup"></ul>
            </div>
        </div>
    </section>
</div>
<div id="noGroupModule" style="display: none;">
    <section class="panel table ext">
        <header class="panel-heading">
            <h2 class="panel-title">Module(s) disponible(s)</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <ul class="Selecter" id="SelecterNoGroup"></ul>
            </div>
        </div>
    </section>
</div>

{% endblock %}