{% extends 'module.twig.html' %}

{% block title_page %}Groupes de modules{% endblock %}
{% set this_page = 'Modification' %}
{% set title_block_page = 'Edition du menu d\'administration' %}

{% block module %}

<div class="fancy-title title-dotted-border">
	<h3>{{ title_block_page }}</h3>
</div>
<p>Cette section est accéssible uniquement par les développeurs du site</p>

<form name="form" method="post" action="{{ siteUrl('admin/groupmodule/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />

	<div class="row show-grid">
		<div class="col-sm-12 nopadding">
			<table class="table" id="groupmodule-menu-table">
				<tbody>
				<tr>
					<td class="col-fix">
						<div class="text-center">
							<button type="button" class="ed-button button button-rounded button-green button-mini button-3d" id="groupmodule-button-addcolumn">
								<i class="icon-plus"></i>
								<span>Ajouter une colonne</span>
							</button>
						</div>
						<div class="clear"></div>

						<h4 class="mt10">Modules disponibles</h4>
						<div class="module-block" data-id="0">
							<div class="module-block-content">
								{% for mod in arrayModules %}
								<div class="button button-small button-3d btn-block module-element" data-id="{{ mod.id }}" data-block="{{ mod.block }}">{{ mod.title }}</div>
								{% endfor %}
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>


</form>

<script>
    var errorForm = {{ error }};
    var tabError = '{{ tabError }}';
</script>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
<link rel="stylesheet" href="{{ vendor('switchery/dist/switchery.min.css') }}" />

<style type="text/css">
	.menu-title-field {

	}

	.menu-title-field span,
	.menu-title-field input {
		float: left;
		display: block;
		height: 40px;
		line-height: 40px;
	}

	.menu-title-field span {
		padding: 0 15px;
		border-width: 1px;
	}

	.menu-title-field input {
		border: 1px solid #ccc;
		border-left: 0;
		border-right: 0;
		padding: 0 10px;
	}

	.menu-title-field span.move { background-color: #1265A8; color: #fff; cursor: move; }
	.menu-title-field span.valid { background-color: #59BA41; color: #fff; cursor: pointer; }
	.menu-title-field span.delete { background-color: #C02942; color: #fff; cursor: pointer; }

	#groupmodule-menu-table {
		margin: 0;
		display: table;
		table-layout: fixed;
	}
	#groupmodule-menu-table td {
		vertical-align: top;
	}
	#groupmodule-menu-table h4 {
		margin: 20px 0 0 0;
	}
	.module-column {
		border: none !important;
		border-right: 1px black solid !important;
		padding: 10px !important;
		vertical-align: top !important;
		padding-bottom: 40px !important;
		position: relative !important;
	}
	.module-column-buttons {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
	.module-block.placeholder {
		height: 50px;
		margin-bottom: 20px;
	}
	.module-block:not(:last-child) {
		margin-bottom: 12px;
	}
	.module-block .row {
		margin: 0;
	}
	.input-title {
		border-right: none !important;
	}
	.module-block [class^=col-] {
		padding: 0 !important;
		background: transparent !important;
		border: none !important;
	}
	.module-block-content {
		margin-top: 8px;
		padding: 0 0 27px;
		transition: all .3s;
	}
	.module-block-content.bordered {
		padding: 10px 10px 22px;
		border: 1px blue dashed;
	}
	.module-element {
		background: grey;
		color: black;
		padding: 8px 12px;
		margin: 0 0 8px !important;
	}
	.placeholder {
		opacity: .5;
	}
</style>
{% endblock %}

{% block javascripts %}
<script src="{{ vendor('jquery-ui/jquery-ui.min.js') }}"></script>


<script type="text/javascript">

    var addCSRF = function( values ) {
        values['{{ csrf_key }}'] = "{{ csrf_token }}";
        return values;
    };

    var sort_element;


    var groupmoduleMoveElement = function( element, block_id, doAjaxRequest ) {
        $(element).appendTo( $(".module-block[data-id="+ block_id +"]").find(".module-block-content") );
    };


    var resetSortable = function() {
        // Sortable modules
        sort_element = $( ".module-block-content" ).sortable({
            connectWith: ".module-block-content",
            placeholder: "module-element placeholder",
            start: function(event, ui) {
                $(".module-block-content").addClass("bordered");
            },
            stop: function(event, ui) {
                $(".module-block-content").removeClass("bordered");
            },
            update: function(event, ui) {
                var $item = $( ui.item[0] );
                var $block = $item.parents(".module-block");

                var list = $block.find(".module-element").map(function() {
                    return $(this).data("id");
                }).get().join(",");

                var data = {
                    module_id : $item.data("id"),
                    block_id  : $block.data("id"),
                    new_order: list
                };
                data = addCSRF(data);

                $.ajax({
                    url     : '/admin-site/admin/groupmodule/order-module',
                    data    : data,
                    method  : "POST",
                    dataType: 'json',
                    success: function (response) {}
                });
            }
        });

        // Sortable block
        $( ".module-column" ).sortable({
            handle: ".module-block-handle",
            connectWith: ".module-column",
            placeholder: "module-block placeholder",
            start: function(event, ui) {
//                $( ui.item[0] ).height(40).find(".module-block-content").slideUp(0);
                $(".module-block-content").hide(0);
                $(".button-delete").hide(0);
            },
            stop: function(event, ui) {
//                $( ui.item[0] ).height("auto").find(".module-block-content").slideDown(300);
                $(".module-block-content").show(0);
                $(".button-delete").show(0);
            },
            update: function(event, ui) {
                var $item = $( ui.item[0] );
                var $column = $item.parents(".module-column");

                var list = $column.find(".module-block").map(function() {
                    return $(this).data("id");
                }).get().join(",");

                var data = {
                    block_id : $item.data("id"),
                    column_id: $column.data("id"),
                    new_order: list
                };
                data = addCSRF(data);

                $.ajax({
                    url     : '/admin-site/admin/groupmodule/order-block',
                    data    : data,
                    method  : "POST",
                    dataType: 'json',
                    success: function (response) {}
                });
            }
        });
    };

    $(function() {
        // Add column button click
        $("#groupmodule-button-addcolumn").click(function() {
            groupmoduleCreateColumn();
        });

        // Créate all blocks
        {% for column in columns %}
			groupmoduleAddColumn( {{ column.id }} );
			{% for block in column.blocks %}
				groupmoduleAddBlock( {{ column.id }}, {{ block.id }}, "{{ block.title }}" );
			{% endfor %}
        {% endfor %}

        // Move module elements in them blocks
        $(".module-block[data-id=0]").find(".module-element").each(function( index, element ) {
            var block = $(element).data("block");
            if( block > 0 ) {
                groupmoduleMoveElement( element, block );
            }
        });

        groupmoduleManageColumns();
    });


    var groupmoduleAddColumn = function( column_id ) {
        var $column = $("<td>")
            .addClass("module-column")
            .attr("data-id", column_id)
            .appendTo( $("#groupmodule-menu-table").find("tbody").find("tr").eq(0) )
            .insertBefore(".col-fix");

        var $buttons = $("<div>")
            .addClass("module-column-buttons")
            .appendTo( $column );

        $("<span>")
            .addClass("ed-button button button-rounded button-green button-mini button-3d")
            .append(  $("<i>").addClass("icon-plus")  )
            .append(  $("<span>").text("bloc")  )
            .click(function() { groupmoduleCreateBlock(this) })
            .appendTo( $buttons );

        $("<span>")
            .addClass("ed-button button button-rounded button-red button-mini button-3d")
            .append(  $("<i>").addClass("icon-trash")  )
            .append(  $("<span>").text("colonne")  )
            .click(function() { groupmoduleColumnDelete(this) })
            .appendTo( $buttons );
    };


    var groupmoduleCreateColumn = function() {
        var data = {
            group: {{ id }},
            method: "POST"
    	};
        data = addCSRF(data);

        $.ajax({
            url     : '/admin-site/admin/groupmodule/add-column',
            data    : data,
            method  : "POST",
            dataType: 'json',
            success : function(response) {
                groupmoduleAddColumn( response.column_id );
                groupmoduleAddBlock( response.column_id, response.block_id, "" );
                groupmoduleManageColumns();
            }
        });
    };


    var groupmoduleColumnDelete = function( el ) {
        $btn    = $(el);
        $column = $btn.parents(".module-column");

        var data = {
            column_id : $column.data("id")
        };
        data = addCSRF(data);

        $.ajax({
            url     : '/admin-site/admin/groupmodule/delete-column',
            data    : data,
            method  : "POST",
            dataType: 'json',
            success: function (response) {
                $column.find(".module-element").each(function(index, element) {
                    groupmoduleMoveElement( element, 0 );
                });

                $column.remove();

                if( response.only_one_column )
                {
                    var $first_column = $("#groupmodule-menu-table").find(".module-column").eq(0);
                    var blocks = $first_column.find(".module-block");

                    if( blocks.length > 1 ) {
                        var main_block = blocks[0];

                        for( var i=1; i < blocks.length ; i++ ) {

                            $(blocks[i]).find(".module-element").each(function(index, element) {
                                groupmoduleMoveElement( element, $(main_block).data("id") );
                            });

                            $(blocks[i]).remove();

                        }
                    }
                }

                groupmoduleManageColumns();
            }
        });
    };


    var groupmoduleAddBlock = function( column_id, block_id, title ) {

        var $column = $(".module-column[data-id='"+column_id+"']");

        var $block = $("<div>")
            .addClass("module-block")
            .attr('data-id', block_id)
            .appendTo($column);

        // Header
        var $header = $("<div>")
            .addClass("module-block-header menu-title-field")
            .appendTo($block);

        var $input_group = $("<div>").addClass("input-group").appendTo($header);
        $("<span>")
            .addClass("move module-block-handle")
            .append( $("<i>").addClass("icon-line2-cursor-move") )
            .appendTo($input_group);
        $("<input>")
            .addClass("form-control input-title")
            .val(title)
            .appendTo($input_group);
        $("<span>")
            .addClass("valid title-save")
            .append( $("<i>").addClass("icon-line-check") )
            .click(function() { groupmoduleTitleSave(this) })
            .appendTo($input_group);
        $("<span>")
            .addClass("delete button-delete")
            .append( $("<i>").addClass("icon-line-trash") )
            .click(function() { groupmoduleBlockDelete(this) })
            .appendTo($input_group);

        // Content
        var $content = $("<div>")
            .addClass("module-block-content")
            .appendTo($block);

    };


    var groupmoduleCreateBlock = function(el) {
        $btn = $(el);
        $column = $btn.parents(".module-column");

        var data = {
            column_id: $column.data("id"),
            order    : $column.find(".module-block").length + 1,
            method   : "POST"
        };
        data = addCSRF(data);

        $.ajax({
            url     : '/admin-site/admin/groupmodule/add-block',
            data    : data,
            method  : "POST",
            dataType: 'json',
            success : function(response) {
                groupmoduleAddBlock( $column.data("id"), response.block_id, "" );
                groupmoduleManageColumns();
            }
        });
    };


    var groupmoduleBlockDelete = function( el ) {
        $btn   = $(el);
        $block = $btn.parents(".module-block");

        var data = {
            block_id : $block.data("id")
        };
        data = addCSRF(data);

        $.ajax({
            url     : '/admin-site/admin/groupmodule/delete-block',
            data    : data,
            method  : "POST",
            dataType: 'json',
            success: function (response) {
                $block.find(".module-element").each(function(index, element) {
                    groupmoduleMoveElement( element, 0 );
                });

                $block.remove();
            }
        });
    };


    var groupmoduleManageColumns = function() {
        var $table = $("#groupmodule-menu-table");
        var $tr    = $table.find("tbody").find("tr").eq(0);

        var count = $(".module-column").length;

        if( count >= 5 )  {
            $("#groupmodule-button-addcolumn").hide();
        }
        else {
            $("#groupmodule-button-addcolumn").show();
        }


        if( count === 1 )  {
            var $td = $tr.find("td").not(".col-add").first();
            $td.find(".module-column-buttons").hide();

            $(".module-block-header.menu-title-field").hide();
        }
        else {
            $("td").find(".module-column-buttons").show();

            $(".module-block-header.menu-title-field").show();
        }

        $("#groupmodule-menu-table").parents(".show-grid").width(
            100 / 6 * ( $("#groupmodule-menu-table").find(".module-column").length + 1 ) +"%"
        );

        resetSortable();
    };


    var groupmoduleTitleSave = function( el ) {
        $btn = $(el);
        $input = $btn.prev(".input-title");

        var data = {
            block_id : $btn.parents(".module-block").data("id"),
            title    : $input.val()
        };
        data = addCSRF(data);

        $.ajax({
            url     : '/admin-site/admin/groupmodule/rename-block',
            data    : data,
            method  : "POST",
            dataType: 'json',
            success: function (response) {}
        });
    };
</script>

{% endblock %}