<div class="media">
	<input type="hidden" id="token" name="{{csrf_key}}" value="{{csrf_token}}" />
	<div class="title">
		Gestion des médias
		<span class="pull-right">
			<a href="{{ siteUrl('module/' ~ mod.name ~ '/newupload') }}" class="link-popup btn btn-xs btn-success"><i class="fa fa-upload"></i> Uploader un nouveau fichier</a>
			<a href="javascript:;" class="close-popup btn btn-xs btn-default"><i class="fa fa-times"></i> Fermer</a>
		</span>
	</div>
	<div class="content">
		{% for image in images %}
			<div class="mini">
				<div class="img">
					<a href="javascript:;" class="actionclickmedia" data-postaction="{{ siteUrl('module/' ~ mod.name ~ '/postclick') }}" data-id="{{ image.media_id }}">
						<img src="{{ siteUrl( path ~ '/' ~ image.media_mini_name , false ) }}" alt="" />
					</a>
				</div> 
				<div class="action">
					{% if image.media_delete == true %}
						<a class="btn btn-xs btn-danger deleteMedia" data-module="{{ mod.name }}" data-id="{{ image.media_id }}" href="{{ siteUrl('module/' ~ mod.name ~ '/deletemedia/' ~ image.media_id ~ '/' ~ csrf_token) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
					{% else %}
						<a class="btn btn-xs btn-default disabled"><i class="fa fa-trash-o"></i> Supprimer</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="postupload" id="postupload">
		<div class="loading">
			<span>Traitement de l'image en cours ...</span>
			<img src="{{ asset('img/ajax-loader-medium.gif') }}" alt="" />
		</div>
	</div>
</div>