.php_cs.cache/.idea.DS_Store.buildpath.project.settingscomposer.lockcomposer.pharpackage*.tarpackages.json/vendor/assets/canvas/.sass-cache/assets/canvas/.sass-cache//assets/canvas/.sass-cache/*