# Created by https://www.gitignore.io/api/sass,windows,composer,phpstorm

### Composer ###
composer.phar
/vendor/

### PhpStorm ###
.idea/

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
