.php_cs.cache.idea//.idea//.idea/*.DS_Store.buildpath.project.settingsautoload.phpcomposer.lockcomposer.pharpackage*.tarpackages.json/vendor/vendor//vendor/*/assets/canvas/.sass-cache/assets/canvas/.sass-cache//assets/canvas/.sass-cache/*