<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true">
    <testsuite name="Validation of unit tests">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist proceessUncoveredFromWhitelist="true">
            <directory suffic=".php">App/Kernel/Back</directory>
            <directory suffic=".php">App/Kernel/Front</directory>
            <directory suffic=".php">App/Kernel/Form</directory>
            <directory suffic=".php">App/Kernel</directory>
        </whitelist>
    </filter>
</phpunit>