{% extends 'module.twig.html' %}

{% block title_page %}{{ _('grp_admin')}}{% endblock %}


{% if id != -1 %}
	{% set this_page = _('modification') %}
	{% set title_block_page =  _('group_edit_modif') %}
{% else %}
	{% set this_page = _('ajout') %}
	{% set title_block_page = _('group_edit_add') %}
{% endif %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('ext/group/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" id="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>
    <div class="ed-menu bottommargin-sm">
        <a href="{{ siteUrl('ext/group') }}" class="button button-mini"><i class="icon-th-list"></i> {{ _('button_manage')}}</a>
        <a href="{{ siteUrl('ext/group/edit') }}" class="button button-mini"><i class="icon-plus"></i> {{ _('button_add')}}</a>
    </div>
    <div class="ed field col_full">
        <label>{{ _('nom')}}<span class="icon-asterisk"></span></label>
        <input type="text" id="user_group_name" name="user_group_name" class="form-control" value="{{ post.user_group_name }}" />
    </div>
    {% include 'form/generic/button.twig' %}
</form>
<div class="divider"><i class="icon-circle"></i></div>
{% if id != -1 %}
    <div class="col_one_third">
        <div class="title-block">
            <h3><span>{{ _('group_users')}}</span></h3>
            <span>{{ _('group_edit_1')}} {{ users|length }} {{ _('group_edit_2')}} {{ users|length > 1 ? 's' : '' }} {{ _('group_edit_3')}}</span>
        </div>
        <div class="list-users">
            {% if users|length > 0 %}
                <ul class="testimonials-grid grid-3 clearfix">
                {% for user in users %}
                    <li>
                        <div class="testimonial text-center">
                            <div class="testi-meta">
                                <a href="{{ siteUrl('ext/user/edit/' ~ user.user_id ) }}" class="user" title="{{ user.user_name }}">{{ user.user_name }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
              {% include 'form/generic/nocontent.twig' with {'msg': 'group_edit_msg'} %}
            {% endif %}
        </div>
    </div>
    <div class="col_two_third col_last">
        <div class="title-block">
            <h3><span>{{ _('group_edit_approval')}}</span></h3>
            <span>{{ _('group_edit_info')}}</span>
        </div>
                {% if id == 1 %}
                    {% include 'form/generic/nocontent.twig' with {'msg': _('group_edit_msg2') } %}
                {% else %}
                <div class="tabs tabs-responsive clearfix">

                    <ul class="tab-nav clearfix">
                        <li><a href="#tab-responsive-1">{{ _('modules')}}</a></li>
                        <li><a href="#tab-responsive-2">{{ _('extension')}}</a></li>
                    </ul>

                    <div class="tab-container">

                        <div class="tab-content clearfix" id="tab-responsive-1">
                            <table class="table table-hover">
                                <tr>
                                    <th style="width: 25%;"></th>
                                    <th style="width: 15%;" class="text-center">{{ _('ajout')}}</th>
                                    <th style="width: 15%;" class="text-center">{{ _('modification')}}</th>
                                    <th style="width: 15%;" class="text-center">{{ _('suppression')}}</th>
                                    <th style="width: 15%;" class="text-center">{{ _('validation')}}</th>
                                    <th style="width: 15%;" class="text-center">{{ _('configuration')}}</th>
                                </tr>
                                {% for mod in module %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ mod.module_name }}</td>
                                    <td class="text-center">{% if mod.perm_add == 1 %}<a class="right {{ mod.add ? 'yes' : 'no' }}" style="font-size:20px; color:{{ mod.add ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ mod.module_class_name }}" data-right="add" data-type="module" href="javascript:;"><i class="icon-{{ mod.add ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                    <td class="text-center">{% if mod.perm_update == 1 %}<a class="right {{ mod.update ? 'yes' : 'no' }}" style="font-size:20px; color:{{ mod.update ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ mod.module_class_name }}" data-right="update" data-type="module" href="javascript:;"><i class="icon-{{ mod.update ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                    <td class="text-center">{% if mod.perm_delete == 1 %}<a class="right {{ mod.delete ? 'yes' : 'no' }}" style="font-size:20px; color:{{ mod.delete ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ mod.module_class_name }}" data-right="delete" data-type="module" href="javascript:;"><i class="icon-{{ mod.delete ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                    <td class="text-center">{% if mod.perm_validation == 1 %}<a class="right {{ mod.validation ? 'yes' : 'no' }}" style="font-size:20px; color:{{ mod.validation ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ mod.module_class_name }}" data-right="validation" data-type="module" href="javascript:;"><i class="icon-{{ mod.validation ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                    <td class="text-center">{% if mod.perm_config == 1 %}<a class="right {{ mod.config ? 'yes' : 'no' }}" style="font-size:20px; color:{{ mod.config ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ mod.module_class_name }}" data-right="config" data-type="module" href="javascript:;"><i class="icon-{{ mod.config ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-content clearfix" id="tab-responsive-2">
                            <table class="table table-hover">
                                <tr>
                                    <th style="width: 25%;"></th>
                                    <th style="width: 25%;" class="text-center">{{ _('ajout')}}</th>
                                    <th style="width: 25%;" class="text-center">{{ _('modification')}}</th>
                                    <th style="width: 25%;" class="text-center">{{ _('supression')}}</th>
                                </tr>
                                {% for ext in extension %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ ext.extension_name }}</td>
                                    <td class="text-center">{% if ext.perm_add == 1 %}<a class="right {{ ext.add ? 'yes' : 'no' }}" style="font-size:20px; color:{{ ext.add ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ ext.extension_technical_name }}" data-right="add" data-type="ext" href="javascript:;"><i class="icon-{{ ext.add ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                    <td class="text-center">{% if ext.perm_update == 1 %}<a class="right {{ ext.update ? 'yes' : 'no' }}" style="font-size:20px; color:{{ ext.update ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ ext.extension_technical_name }}" data-right="update" data-type="ext" href="javascript:;"><i class="icon-{{ ext.update ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                    <td class="text-center">{% if ext.perm_delete == 1 %}<a class="right {{ ext.delete ? 'yes' : 'no' }}" style="font-size:20px; color:{{ ext.delete ? '#59BA41' : '#C02942' }}" data-group="{{ id }}" data-modext="{{ ext.extension_technical_name }}" data-right="delete" data-type="ext" href="javascript:;"><i class="icon-{{ ext.delete ? 'ok-sign' : 'remove-sign' }}"></i></a>{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>

                </div>
                {% endif %}
            </div>

{% endif %}
{% endblock %}

{% block javascripts_end %}
<script src="{{ asset('canvas/js/easydoor/acl.js') }}"></script>
{% endblock %}