{% extends 'module.twig.html' %}

{% block title_page %}{{ _('modules')}}{% endblock %}

{% set this_page = _('modification') %}
{% set title_block_page = _('module_modif')%}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('ext/parammodule/edit/' ~ id ) }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_full">
                <label>{{ _('nom_interne') }}</label>
                <input type="text" id="module_name" name="module_name" class="form-control" value="{{ post.module_name }}" readonly />
            </div>
            <div class="clear"></div>
            <div class="ed_field col_half">
                <label>{{ _('url') }}</label>
                {% for l in lang %}
                    {% if lang|length > 1 %}
                        <div style="margin-bottom:10px;" class="input-group input-group-icon">
                            <span class="input-group-addon">
                                <span class="icon">
                                    <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                </span>
                            </span>
                            <input type="text" id="module_lang_url_{{ l.url }}" name="module_lang_url_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['module_lang_url'] }}" />
                        </div>
                    {% else %}
                        <input type="text" id="module_lang_url_{{ l.url }}" name="module_lang_url_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['module_lang_url'] }}" />
                    {% endif %}
                {% endfor %}
            </div>
            <div class="ed_field col_half col_last">
                <label>{{ _('meta_title') }}</label>
                {% for l in lang %}
                    {% if lang|length > 1 %}
                        <div style="margin-bottom:10px;" class="input-group input-group-icon">
                            <span class="input-group-addon">
                                <span class="icon">
                                    <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                </span>
                            </span>
                            <input type="text" data-plugin-counter="55" id="module_lang_title_{{ l.url }}" name="module_lang_title_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['module_lang_title'] }}" />
                        </div>
                    {% else %}
                        <input type="text" data-plugin-counter="55" id="module_lang_title_{{ l.url }}" name="module_lang_title_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['module_lang_title'] }}" />
                    {% endif %}
                {% endfor %}
            </div>
            <div class="ed_field col_full">
                <label>{{ _('meta_desc') }}</label>
                {% for l in lang %}
                    {% if lang|length > 1 %}
                        <div style="margin-bottom:10px;" class="input-group input-group-icon">
                            <span class="input-group-addon">
                                <span class="icon">
                                    <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                </span>
                            </span>
                            <input type="text" data-plugin-counter="300" id="module_lang_description_{{ l.url }}" name="module_lang_description_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['module_lang_description'] }}" />
                        </div>
                    {% else %}
                        <input type="text" data-plugin-counter="300" id="module_lang_description_{{ l.url }}" name="module_lang_description_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['module_lang_description'] }}" />
                    {% endif %}
                {% endfor %}
            </div>
            <div class="ed_field col_half">
                <label>{{ _('parammodule_edit_sitemap')}}</label>
                <input type="number" id="module_priority" name="module_priority" step="0.1" class="form-control" value="{{ priority }}" />
            </div>
            <div class="ed_field col_one_fourth">
                <label>{{ _('parammodule_edit_listing')}}</label>
                {% include 'form/generic/switch.twig' with {'value':index, 'name':'module_index'} %}
            </div>
            <div class="ed_field col_one_fourth col_last">
                <label>{{ _('parammodule_edit_elmt')}}</label>
                {% include 'form/generic/switch.twig' with {'value':index_elmt, 'name':'module_index_elmt'} %}
            </div>

            {% include 'form/generic/button.twig' %}
        </div>
    </div>

</form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('canvas/css/src/flag-icon/css/flag-icon.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('canvas/js/easydoor/form.js') }}"></script>
{% endblock %}