{% extends 'module.twig.html' %}

{% block title_page %}Modules{% endblock %}
{% set this_page = 'Gestion' %}

{% block module %}
    <div class="fancy-title title-dotted-border">
        <h3>Liste des modules</h3>
    </div>

    <div class="table-responsive">
    {% if contentRows|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Nom</th>
                    <th>Indexé (listing)</th>
                    <th>Indexé (éléments)</th>
                    <th class="text-right" style="width: 200px"></th>
                </tr>
            </thead>
            <tbody>
            {% for row in contentRows %}
                <tr class="tr1">
                    <td>
                        #{{ row.module_id }}
                    </td>
                    <td>
                        <a href="{{ siteUrl('ext/parammodule/edit/' ~  row.module_id) }}">{{ row.module_name }}</a>
                    </td>
                    <td>
                        {% if row.module_index == 0 %}
                            <a class="button button-mini button-amber" href="{{ siteUrl('ext/parammodule/index/' ~  row.module_id ~ '/' ~ csrf_token) }}">Non</a>
                        {% else %}
                            <a class="button button-mini button-green" href="{{ siteUrl('ext/parammodule/noindex/' ~  row.module_id ~ '/' ~ csrf_token) }}">Oui</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if row.module_index_elmt == 0 %}
                            <a class="button button-mini button-amber" href="{{ siteUrl('ext/parammodule/indexelmt/' ~  row.module_id ~ '/' ~ csrf_token) }}">Non</a>
                        {% else %}
                            <a class="button button-mini button-green" href="{{ siteUrl('ext/parammodule/noindexelmt/' ~  row.module_id ~ '/' ~ csrf_token) }}">Oui</a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ siteUrl('ext/parammodule/edit/' ~ row.module_id) }}"><i class="icon-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% include 'form/generic/nocontent.twig' with {'msg':"Aucun module ne nécessite de configuration."} %}
    {% endif %}
    </div>
{% endblock %}