{% extends 'module.twig.html' %}

{% block title_page %}{{ _('microdata')}}{% endblock %}
{% set this_page = _('modification') %}
{% set title_block_page =  _('modification') %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/ext/microdata') }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ _('microdata_edit_subtitle')}}</h3>
    </div>

    <div class="fancy-title title-bottom-border">
        <h3>{{ _('generale')}}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_full">
                <label>{{ _('url_logo')}}</label>
                <input type="text" name="md_logo" class="form-control" value="{{ post.md_logo }}" />
            </div>
        </div>
    </div>

    <div class="fancy-title title-bottom-border">
        <h3>{{ _('corporation')}}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_full">
                <label>{{ _('description')}}</label>
                <input type="text" name="md_description" class="form-control" value="{{ post.md_description }}" />
            </div>
        </div>
    </div>

    <div class="fancy-title title-bottom-border">
        <h3>{{ _('website')}}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_half">
                <label>{{ _('website_name_small')}}</label>
                <input type="text" name="md_name" class="form-control" value="{{ post.md_name }}" />
            </div>
            <div class="ed_field col_half col_last">
                <label>{{ _('alternative_name_small')}}</label>
                <input type="text" name="md_alt_name" class="form-control" value="{{ post.md_alt_name }}" />
            </div>
        </div>
    </div>

    <div class="fancy-title title-bottom-border">
        <h3>{{ _('social_media')}}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_one_fifth">
                <label>Facebook</label>
                <input type="text" name="md_facebook" class="form-control" value="{{ post.md_facebook }}" />
            </div>
            <div class="ed_field col_one_fifth">
                <label>Twitter</label>
                <input type="text" name="md_twitter" class="form-control" value="{{ post.md_twitter }}" />
            </div>
            <div class="ed_field col_one_fifth">
                <label>LinkedIn</label>
                <input type="text" name="md_linkedin" class="form-control" value="{{ post.md_linkedin }}" />
            </div>
            <div class="ed_field col_one_fifth">
                <label>Instagram</label>
                <input type="text" name="md_instagram" class="form-control" value="{{ post.md_instagram }}" />
            </div>
            <div class="ed_field col_one_fifth col_last">
                <label>Pinterest</label>
                <input type="text" name="md_pinterest" class="form-control" value="{{ post.md_pinterest }}" />
            </div>
        </div>
    </div>

    <div class="fancy-title title-bottom-border">
        <h3>{{ _('address')}}</h3>
    </div>

    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_half">
                <label>{{ _('email')}}</label>
                <input type="email" name="md_email" class="form-control" value="{{ post.md_email }}" />
            </div>
            <div class="ed_field col_half col_last">
                <label>{{ _('phone')}}</label>
                <input type="text" name="md_phone" class="form-control" value="{{ post.md_phone }}" />
            </div>
            <div class="ed_field col_half">
                <label>{{ _('address')}}</label>
                <input type="text" name="md_address" class="form-control" value="{{ post.md_address }}" />
            </div>
            <div class="ed_field col_one_fourth">
                <label>{{ _('zip_code')}}</label>
                <input type="text" name="md_zip" class="form-control" value="{{ post.md_zip }}" />
            </div>
            <div class="ed_field col_one_fourth col_last">
                <label>{{ _('city')}}</label>
                <input type="text" name="md_town" class="form-control" value="{{ post.md_town }}" />
            </div>
        </div>
    </div>

    {% include 'form/generic/button.twig' %}
</form>	
{% endblock %}