{% extends 'module.twig.html' %}

{% block title_page %}Pages spéciales{% endblock %}

{% if id != -1 %}
	{% set this_page = 'Modification' %}
	{% set title_block_page = 'Modification d\'une page' %}
{% else %}
	{% set this_page = 'Ajout' %}
	{% set title_block_page = 'Ajout d\'une nouvelle page' %}
{% endif %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('ext/page/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
	<div class="row">
		<div class="col-md-12">
			<header class="panel-heading">
				<h2 class="panel-title">{{ title_block_page }}</h2>
			</header>
			<div class="tab-content">
				<div class="tab-pane active panel-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Activé</label>
						<div class="col-md-6">
							<input value="1" type="checkbox"{{ post.page_active == 1 ? ' checked="checked"' : '' }} data-plugin-ios-switch name="page_active" id="page_active" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Nom (interne)</label>
						<div class="col-md-6">
							<input type="text" id="page_name" name="page_name" class="form-control" value="{{ post.page_name }}" />
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane active panel-body panel-body-border">
					<div class="row">
						<div class="form-group">
							<label class="col-md-3 control-label">URL</label>
							<div class="col-md-6">
								{% for l in lang %}
                                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon">
                                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                        </span>
                                    </span>
                                    <input type="hidden" id="last_page_lang_url_{{ l.url }}" name="last_page_lang_url_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_url'] }}" />
                                    <input type="text" id="page_lang_url_{{ l.url }}" name="page_lang_url_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_url'] }}" />
                                </div>
                                {% endfor %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Meta title</label>
							<div class="col-md-6">
								{% for l in lang %}
                                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon">
                                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                        </span>
                                    </span>
                                    <input type="text" data-plugin-counter="55" id="page_lang_title_{{ l.url }}" name="page_lang_title_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_title'] }}" />
                                </div>
                                {% endfor %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Méta description</label>
							<div class="col-md-6">
								{% for l in lang %}
                                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon">
                                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                        </span>
                                    </span>
                                    <input type="text" data-plugin-counter="115" id="page_lang_description_{{ l.url }}" name="page_lang_description_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_description'] }}" />
                                </div>
                                {% endfor %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Méta keyword</label>
							<div class="col-md-6">
								{% for l in lang %}
                                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon">
                                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="page_lang_keyword_{{ l.url }}" name="page_lang_keyword_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_keyword'] }}" />
                                </div>
                                {% endfor %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Sitemap - Priority</label>
							<div class="col-md-6">
								<input type="text" id="page_priority" name="page_priority" class="form-control" value="{{ priority }}" />
							</div>
						</div>
					</div>
				</div> 
			</div>
			
			<div class="tab-content">
				<div class="tab-pane active panel-body panel-body-border">
					<div class="row">
						<div class="col-md-2">
							<a id="btn_back" href="{{ siteUrl('ext/page') }}" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Retourner à la liste</a>
						</div>
						<div class="col-md-5 col-md-offset-5 text-right">
							<button type="submit" id="btn_submit_stay" name="submit" value="stay" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer et continuer l'édition</button>
							<button type="submit" id="btn_submit" name="submit" value="back" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</form>
<script>
	var errorForm = {{ error }};
	var tabError = '{{ tabError }}';
</script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ vendor('select2/dist/css/select2.min.css') }}" />
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
<link rel="stylesheet" href="{{ vendor('switchery/dist/switchery.min.css') }}" />
{% endblock %}

{% block javascripts %}
<script src="{{ vendor('select2/dist/js/select2.min.js') }}"></script>
<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
<script src="{{ vendor('switchery/dist/switchery.min.js') }}"></script>
{% endblock %}