{% extends 'module.twig.html' %}

{% block title_page %}{{ _('pages')}}{% endblock %}

{% if id != -1 %}
	{% set this_page = _('modification') %}
	{% set title_block_page = _('page_edit_modif') %}
{% else %}
	{% set this_page = _('ajout') %}
	{% set title_block_page = _('page_edit_add') %}
{% endif %}

{% block module %}
<form action="{{ siteUrl('ext/page/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" method="post" class="form-vertical">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>
    <div class="ed_field col_full">
        <label>{{ _('nom_interne')}}</label>
        <input type="text" id="page_name" name="page_name" class="form-control" value="{{ post.page_name }}" />
    </div>
    <div class="ed_field col_half">
        <label>{{ _('url')}}</label>
        {% for l in lang %}
            {% if lang|length > 1 %}
                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                    <span class="input-group-addon">
                        <span class="icon">
                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                        </span>
                    </span>
                    <input type="hidden" id="last_page_lang_url_{{ l.url }}" name="last_page_lang_url_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_url'] }}" />
                    <input type="text" id="page_lang_url_{{ l.url }}" name="page_lang_url_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_url'] }}" />
                </div>
            {% else %}
                <input type="hidden" id="last_page_lang_url_{{ l.url }}" name="last_page_lang_url_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_url'] }}" />
                <input type="text" id="page_lang_url_{{ l.url }}" name="page_lang_url_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_url'] }}" />
            {% endif %}
        {% endfor %}
    </div>
    <div class="ed_field col_half col_last">
        <label>{{ _('meta_title')}}</label>
        {% for l in lang %}
            {% if lang|length > 1 %}
                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                    <span class="input-group-addon">
                        <span class="icon">
                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                        </span>
                    </span>
                    <input type="text" data-plugin-counter="55" id="page_lang_title_{{ l.url }}" name="page_lang_title_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_title'] }}" />
                </div>
            {% else %}
                <input type="text" data-plugin-counter="55" id="page_lang_title_{{ l.url }}" name="page_lang_title_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_title'] }}" />
            {% endif %}
        {% endfor %}
    </div>
    <div class="ed_field col_full">
        <label>{{ _('meta_desc')}}</label>
        {% for l in lang %}
            {% if lang|length > 1 %}
                <div style="margin-bottom:10px;" class="input-group input-group-icon">
                    <span class="input-group-addon">
                        <span class="icon">
                            <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                        </span>
                    </span>
                    <input type="text" data-plugin-counter="300" id="page_lang_description_{{ l.url }}" name="page_lang_description_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_description'] }}" />
                </div>
            {% else %}
                <input type="text" data-plugin-counter="300" id="page_lang_description_{{ l.url }}" name="page_lang_description_{{ l.url }}" class="form-control lang_{{ l.url }}" value="{{ contentLang[ l.id ]['page_lang_description'] }}" />
            {% endif %}
        {% endfor %}
    </div>
    <div class="ed_field col_half">
        <label>{{ _('parammodule_edit_sitemap')}}</label>
        <input type="number" min="0" max="1" step="0.1" id="page_priority" name="page_priority" class="form-control" value="{{ priority }}" />
    </div>
    <div class="ed_field col_one_fourth">
        <label>{{ _('activated')}}</label>
        {% include 'form/generic/switch.twig' with {'value':post.page_active, 'name':'page_active'} %}
    </div>
    <div class="ed_field col_one_fourth col_last">
        <label>{{ _('indexed')}}</label>
        {% include 'form/generic/switch.twig' with {'value':post.page_index, 'name':'page_index'} %}
    </div>
    {% include 'form/generic/button.twig' %}

</form>
{% endblock %}