{% extends 'errors/layout.twig.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Problème de configuration avec la base de données</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                Il y a un problème avec le fichier de configuration du projet. Merci de vérifier que le fichier éxiste bien et qu'il est bien configuré.
            </div>
        </div>
    </div>
{% endblock %}