{% extends 'module.twig.html' %}

{% set this_page = 'Index' %}

{% block module %}
<input type="hidden" id="module4JS" name="module4JS" value="{{ mod.name }}" />
<div class="row" data-order="{{ hasOrder }}">
	<div class="col-md-12">
		<section class="panel table">
			<header class="panel-heading">
				{% if right.add == true %}
				<div class="panel-actions">
					<a href="{{ siteUrl('/module/' ~ mod.name ~ '/add') }}" class="btn btn-sm btn-success"><i class="fa fa-plus-square"></i> Ajouter</a>
				</div>
				{% endif %}
				<h2 class="panel-title">Tableau de gestion</h2>
			</header>
			<div class="panel-body">
				<div class="table-responsive" id="table-content">
					{{ table }}
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ vendor('magnific-popup/dist/magnific-popup.css') }}" />
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
<link rel="stylesheet" href="{{ vendor('bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}" />
<link rel="stylesheet" href="{{ vendor('select2/dist/css/select2.min.css') }}" />
{% endblock %}

{% block javascripts %}
	<script src="{{ vendor('magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
	<script src="{{ vendor('bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ vendor('bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>
	<script src="{{ vendor('select2/dist/js/select2.min.js') }}"></script>
	{% if hasOrder and right.edit == true %}<script src="{{ vendor('TableDnD/dist/jquery.tablednd.min.js') }}"></script>{% endif %}
{% endblock %}