{% extends 'module.twig.html' %}

{% block title_page %}{{ mod.title }}{% endblock %}
{% set this_page = 'Référencement' %}

{% block module %}

{% endblock %}

{% block stylesheets %}
{{ css }}
<link rel="stylesheet" href="{{ vendor('magnific-popup/dist/magnific-popup.css') }}" />
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
<link rel="stylesheet" href="{{ vendor('switchery/dist/switchery.min.css') }}" />
{% endblock %}

{% block javascripts %}
{{ js }}
	<script src="{{ vendor('magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
	<script src="{{ vendor('switchery/dist/switchery.min.js') }}"></script>
{% endblock %}