{% extends 'module.twig.html' %}

{% block title_page %}{{ mod.title }}{% endblock %}
{% set this_page = 'Référencement' %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/module/' ~ mod.name ~ '/' ~ action ~ '/' ~ id ) }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />

	<div class="row">
		<div class="col-md-12">
			<div class="edit">
				<div class="tabs">
					<ul class="nav nav-tabs nav-justified text-right tabs-primary">
						<li>
							<a href="{{ siteUrl('/module/' ~ mod.name ) }}">Liste</a>
						</li>
						<li{% if action == 'edit' %} class="active"{% endif %}>
							<a href="{{ siteUrl('/module/' ~ mod.name ~ '/edit/' ~ id) }}">Général</a>
						</li>
                        {% if hasParagraph == true %}
                            {% for l in lang %}
                                <li{% if action == 'content' and lang_id == l.id %} class="active"{% endif %}>
                                <a href="{{ siteUrl('/module/' ~ mod.name ~ '/content/' ~ id ~ '/' ~ csrf_token ~ '/' ~ l.id ) }}">{{ l.name }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
						<li{% if action == 'seo' %} class="active"{% endif %}>
							<a href="{{ siteUrl('/module/' ~ mod.name ~ '/seo/' ~ id) }}">Référencement</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-d">
				<div class="tab-pane active panel-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Title</label>
						<div class="col-md-6">
							{% for l in lang %}
                            <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                <span class="input-group-addon">
                                    <span class="icon">
                                        <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                    </span>
                                </span>
                                <input type="text" data-plugin-counter="55" name="seo_title_{{ l.url }}" value="{{ content[ l.url ]['title'] }}" class="form-control" />
                            </div>
                            {% endfor %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Description</label>
						<div class="col-md-6">
							{% for l in lang %}
                            <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                <span class="input-group-addon">
                                    <span class="icon">
                                        <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                    </span>
                                </span>
								<input type="text" data-plugin-counter="115" name="seo_description_{{ l.url }}" value="{{ content[ l.url ]['description'] }}" class="form-control" />
                            </div>
                            {% endfor %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Keyword</label>
						<div class="col-md-6">
							{% for l in lang %}
                            <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                <span class="input-group-addon">
                                    <span class="icon">
                                        <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                    </span>
                                </span>
								<input type="text" name="seo_keyword_{{ l.url }}" value="{{ content[ l.url ]['keyword'] }}" class="form-control" />
                            </div>
                            {% endfor %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Url</label>
						<div class="col-md-6">
							{% for l in lang %}
                            <div style="margin-bottom:10px;" class="input-group input-group-icon">
                                <span class="input-group-addon">
                                    <span class="icon">
                                        <i class="flag-icon flag-icon-{{ l.flag }}"></i>
                                    </span>
                                </span>
								<input type="text" name="seo_url_{{ l.url }}" value="{{ content[ l.url ]['url'] }}" class="form-control" />
								<input type="hidden" name="seo_last_url_{{ l.url }}" value="{{ content[ l.url ]['url'] }}" />
                            </div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12">
			<div class="tab-content">
				<div class="tab-pane active panel-body panel-body-border">
					<div class="row">
						<div class="col-md-2">
							<a id="btn_back" href="{{ siteUrl('/module/' ~ mod.name ) }}" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Retourner à la liste</a>
						</div>
						<div class="col-md-5 col-md-offset-5 text-right">
							<button type="submit" id="btn_submit_stay" name="submit" value="stay" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer et continuer l'édition</button>
							<button type="submit" id="btn_submit" name="submit" value="back" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block stylesheets %}
{{ css }}
<link rel="stylesheet" href="{{ vendor('magnific-popup/dist/magnific-popup.css') }}" />
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
{% endblock %}

{% block javascripts %}
{{ js }}
	<script src="{{ vendor('magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
{% endblock %}