{% macro display_tree(contentArray, level, hierarchy, hasOrder, right, hasValidation, csrf_token, mod, type) %}
    {% set colors = ['info', 'warning', 'success', 'danger'] %}
    {% for index,contentRow in contentArray %}
        <tr class="tr1">
            {% if level > 0 %}
                {% for i in 0..(level - 1) %}
                    <td style="width:30px;border-right-style:none;"></td>
                {% endfor %}
            {% endif %}

            {% for index2,row in contentRow.td %}
                {% if loop.first %}
                    <td colspan="{{ 12 - level }}"{% if level > 0 %} style="padding-left: {{ 5 * level }}px;"{% endif %}>
                        {% if hasOrder %}
                            {#
                                <a href="javascript:void(0)" data-url="{{ siteUrl('/module/' ~ mod.name ~ '/up/' ~  contentRow.id ~ '/' ~ csrf_token) }}" class="btn btn-xs btn-default orderBtn{% if loop.parent.loop.index == 1 %} disabled{% endif %}" data-id="{{ contentRow.id }}" data-token="{{csrf_token}}" data-action="up"><i class="fa fa-arrow-up"></i></a>
                                <a href="javascript:void(0)" data-url="{{ siteUrl('/module/' ~ mod.name ~ '/down/' ~  contentRow.id ~ '/' ~ csrf_token) }}" class="btn btn-xs btn-default orderBtn{% if loop.parent.loop.index == contentArray|length %} disabled{% endif %}" data-id="{{ contentRow.id }}" data-token="{{csrf_token}}" data-action="down"><i class="fa fa-arrow-down"></i></a>
                            #}
                            <a href="javascript:void(0)" data-url="{{ siteUrl('/module/' ~ mod.name ~ '/order') }}" class="btn btn-xs btn-default orderBtn{% if contentArray|length == 1 %} disabled{% endif %}">
                                <i class="fa fa-arrows"></i>
                            </a>
                        {% endif %}
                        <span class="label label-{{ colors[level % colors|length] }}">{{ hierarchy }}{{ index+1 }}.</span>&nbsp;{{ row }}
                    </td>
                {% else %}
                    <td>
                        {% if type[ index2 ] == "image" %}
                            <img src="{{ row }}" alt="" class="img-responsive" />
                        {% else %}
                            {{ row }}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <td class="text-right">
                {% if hasValidation and right.validation == true %}<a id="moduleValidation{{ contentRow.id }}" class="btn btn-xs btn-{{ contentRow.validation == 1 ? 'success' : 'warning' }} publish" href="javascript:void(0)" data-id="{{ contentRow.id }}" data-module="{{ mod.name }}" data-token="{{csrf_token}}" data-validation="{{ contentRow.validation }}"><i class="fa fa-thumbs-{{ contentRow.validation == 1 ? 'up' : 'down' }}"></i></a>{% endif %}
                {% if right.edit == true %}<a class="btn btn-xs btn-info" href="{{ siteUrl('/module/' ~ mod.name ~ '/edit/' ~  contentRow.id ) }}"><i class="fa fa-pencil"></i></a>{% endif %}
                {% if right.delete == true %}<a class="btn btn-xs btn-danger modal-module-delete" href="#deleteModal" data-id="{{ contentRow.id }}" data-link="{{ siteUrl('module/' ~ mod.name ~ '/delete/' ~ contentRow.id) }}" data-text="Êtes-vous sûr de vouloir supprimer cet élément ?"><i class="fa fa-times"></i></a>{% endif %}
            </td>
        </tr>
        {% if contentRow.subpages|length > 0 %}
            {{ _self.display_tree(contentRow.subpages, level + 1, hierarchy ~ (index + 1) ~ '.', hasOrder, right, hasValidation, csrf_token, mod, type) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% if td|length > 0 %}
	<table class="table table-striped mb-none table-hover table-gestion">
		<thead>
			<tr>
				{% for title in th %}
					<th{% if loop.first %} colspan="12"{% endif %}><strong>{{ title }}</strong></th>
				{% endfor %}
				<th class="text-center" style="width: 200px;"><strong>Actions</strong></th>
			</tr>
		</thead>
		<tbody>
            {{ _self.display_tree(td, 0, '', hasOrder, right, hasValidation, csrf_token, mod, type) }}
		</tbody>
	</table>
{% else %}
	<span>Pas de contenu enregistré.</span>
{% endif %}