{% extends 'layout.twig.html' %}

{% macro parametre(class) %}
<a href="#" class="{{ class }}"><div>Paramètres</div></a>
<ul>
    <li>
        <a href="{{ siteUrl('/ext/page') }}">
            Pages
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/parammodule') }}">
            Modules
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/user') }}">
            Administrateurs
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/group') }}">
            Groupes d'administrateurs
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/langue') }}">
            Langues
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/metadata') }}">
            Métadonnées
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/microdata') }}">
            Microdata
        </a>
    </li>
    <li>
        <a href="{{ siteUrl('/ext/rgpd') }}">
            RGPD
        </a>
    </li>
</ul>
{% endmacro parametre %}

{% import _self as menu %}

{% block contenu %}
    <div id="wrapper" class="clearfix">
        <header id="header" class="full-header sticky-header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo -->
                    <div id="logo">
                        {% include 'logo.twig.html' %}
                    </div>

                    <!-- Profile -->
                    <div id="top-account" class="dropdown">
                        <a href="#" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item tleft" href="{{ siteUrl('/secured/profile') }}">
                                <i class="icon-user"></i> &nbsp; Profil
                            </a>
                            <a href="{{ siteUrl('/secured/logout') }}" class="dropdown-item tleft">
                                <i class="icon-signout"></i> &nbsp; Déconnexion
                            </a>
                        </ul>
                    </div>

                    <!-- Notifications -->
                    <div id="top-notify">
                        <i class="icon-bell"></i>
                    </div>

                    <!-- Menu -->
                    <nav id="primary-menu">
                        <ul>
                            {% for group in menuTree %}
                                {% if group.columns | length > 1 %}
                                    <li class="mega-menu sub-menu">
                                        <a href="#" class="sf-with-ul"><div>{{ group.name }}</div></a>
                                        <div class="mega-menu-content style-2 clearfix">
                                            {%     if group.columns | length == 1 %} {% set class = "col-lg-12" %}
                                            {% elseif group.columns | length == 2 %} {% set class = "col-lg-6" %}
                                            {% elseif group.columns | length == 3 %} {% set class = "col-lg-4" %}
                                            {% elseif group.columns | length == 4 %} {% set class = "col-lg-3" %}
                                            {% else                               %} {% set class = "col-5" %}
                                            {% endif %}

                                            {% for column in group.columns %}
                                                <ul class="mega-menu-column {{ class }}">
                                                    {% for block in column.blocks %}
                                                        <li class="mega-menu-title sub-menu">
                                                            <a href="#" class="sf-with-ul"><div>{{ block.title }}</div></a>
                                                            <ul>
                                                                {% for module in block.modules %}
                                                                    <li><a href="{{ siteUrl('/module/' ~ module.url ) }}"><div>{{ module.title }}</div></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% else %}
                                    {% set modules = group.columns | first .blocks | first .modules %}
                                    {% if modules | length > 1 %}
                                        <li>
                                            <a href="javascript:;">{{ group.name }}</a>
                                            <ul>
                                                {% for module in group.columns | first . blocks | first . modules %}
                                                    <li><a href="{{ siteUrl('/module/' ~ module.url ) }}"><div>{{ module.title }}</div></a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elseif modules | length == 1 %}
                                        <li>
                                            <a href="{{ siteUrl('/module/' ~ modules|first.url ) }}"><div>{{ group.columns | first .blocks | first .modules | first . title }}</div></a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for group in menuTree %}
                                {% if group.children|length > 1 %}
                                    <li>
                                        <a href="javascript:;">
                                            <div>{{ group.name }}</div>
                                        </a>
                                        <ul>
                                            {% for module in group.children %}
                                            <li>
                                                <a href="{{ route( module.class ) }}">
                                                    <div>{{ module.name }}</div>
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    {% for module in group.children %}
                                        <li>
                                            <a href="{{ route( module.class ) }}">
                                                <div>{{ module.name }}</div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            {% include 'menu/header.twig' %}

                            {% if active_newsletter == false and user.admin == false and active_user == false %}
                                <li>
                                    {{ menu.parametre('') }}
                                </li>
                            {% else %}
                                <li class="mega-menu sub-menu">
                                    <a href="#" class="sf-with-ul"><div>easyDOOR</div></a>
                                    <div class="mega-menu-content style-2 clearfix">

                                        <ul class="mega-menu-column col-lg-3">
                                            <li class="mega-menu-title sub-menu">
                                                {{ menu.parametre('sf-with-ul') }}
                                            </li>
                                        </ul>

                                        <ul class="mega-menu-column col-lg-3">
                                            {% if active_user == true %}
                                                <li class="mega-menu-title sub-menu">
                                                    <a href="#" class="sf-with-ul"><div>Utilisateurs</div></a>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ siteUrl('/ext/user_front_group') }}">
                                                                <div>Groupes d'utilisateurs</div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {#<li class="mega-menu-title sub-menu">
                                                <a href="#" class="sf-with-ul"><div>Galeries d'immage</div></a>
                                                <ul>
                                                    <li>
                                                        <a href="{{ siteUrl('/module/gallerycategory') }}">
                                                            <div>Catégories</div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>#}
                                        </ul>

                                        {% if user.admin == true %}
                                            <ul class="mega-menu-column col-lg-3">

                                                <li class="mega-menu-title sub-menu">
                                                    <a href="#" class="sf-with-ul"><div>Développeur</div></a>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/moduleadmin') }}">
                                                                <div>Modules</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/domain') }}">
                                                                <div>Domaines</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/pageadmin') }}">
                                                                <div>Pages</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/groupmodule') }}">
                                                                <div>Menu d'administration</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/performance') }}">
                                                                <div>Performances</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/log') }}">
                                                                <div>Journal d'événements</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/maintenance') }}">
                                                                <div>Maintenance</div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ siteUrl('/admin/security') }}">
                                                                <div>Sécurité</div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        {% endif %}

                                    </div>
                                </li>
                            {% endif %}

                            <li class="mega-menu sub-menu">
                                <a href="#" class="sf-with-ul"><div>easyLETTER</div></a>
                                <div class="mega-menu-content style-2 clearfix">
                                    {% if active_newsletter == true %}
                                    <ul class="mega-menu-column col-lg-3">
                                        <li class="mega-menu-title sub-menu">
                                            <a href="#" class="sf-with-ul"><div>Newsletter</div></a>
                                            <ul>
                                                <li>
                                                    <a href="{{ route( 'NewsletterCampaignGroup' , 'index' ) }}">
                                                        <div>Newsletters</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'NewsletterGroup' , 'index' ) }}">
                                                        <div>Groupes d'abonnés</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'NewsletterSubscriber' , 'index' ) }}">
                                                        <div>Abonnés</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'NewsletterSender' , 'index' ) }}">
                                                        <div>Expéditeurs</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'NewsletterCampaign' , 'index' ) }}">
                                                        <div>Planification des campagnes</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'NewsletterModel' , 'index' ) }}">
                                                        <div>Gabarits</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    {% endif %}

                                    <ul class="mega-menu-column col-lg-3">
                                        <li class="mega-menu-title sub-menu">
                                            <a href="#" class="sf-with-ul"><div>Automation</div></a>
                                            <ul>
                                                {% if active_newsletter != true %}
                                                <li>
                                                    <a href="{{ route( 'NewsletterSender' , 'index' ) }}">
                                                        <div>Expéditeurs</div>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                <li>
                                                    <a href="{{ route( 'EdAutomationModelGroup' , 'index' ) }}">
                                                        <div>Groupe d'emails</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'EdAutomationModel' , 'index' ) }}">
                                                        <div>Modèle d'emails</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'EdAutomation' , 'index' ) }}">
                                                        <div>Automation</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'EdAutomationVarGroup' , 'index' ) }}">
                                                        <div>Groupe de variables</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'EdAutomationVar' , 'index' ) }}">
                                                        <div>Variables d'environnement</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ route( 'EdAutomationHistory' , 'index' ) }}">
                                                        <div>Historique</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="mega-menu-column col-lg-3">
                                        <li class="mega-menu-title sub-menu">
                                            <a href="#" class="sf-with-ul"><div>Email</div></a>
                                            <ul>
                                                <li>
                                                    <a href="{{ route( 'EdEmail' , 'index' ) }}">
                                                        <div>Modèles</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="mega-menu-column col-lg-3">
                                        <li class="mega-menu-title sub-menu">
                                            <a href="#" class="sf-with-ul"><div>Vos crédits emails</div></a>
                                            <div class="widget clearfix">
                                                <div class="col_one_fourth"></div>
                                                <div class="col_one_fourth text-center" style="padding-top: 10px;">
                                                    <i class="{{ el_credits <= 1000 ? 'icon-warning-sign' : 'icon-line2-check' }}" style="font-size: 50px; color: {{ el_credits <= 1000 ? '#8a6d3b;' : 'green' }};"></i>
                                                </div>
                                                <div class="col_two_fourth col_last">
                                                    <div class="text-center text-uppercase" style="margin-bottom: 15px; font-size: 16px;">
                                                        <span style="font-weight: bold; font-size: 36px;">{{ el_credits|number_format(0, '', ' ') }}</span><br />
                                                        crédit{{ el_credits > 1 ? 's' : '' }}*
                                                    </div>
                                                </div>

                                                <div class="col_full">
                                                    *Crédit{{ el_credits > 1 ? 's' : '' }} : Unité permettant d'envoyer avec tracking tous types de campagnes de newsletters et d'e-mails.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="website">
                                <a target="_blank" href="{{ siteUrl('/',false) }}" data-toggle="tooltip" title="Voir mon site">
                                    <i class="icon-screen" style="margin:0;"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="page-menu" class="no-sticky">
            <div id="page-menu-wrap">
                <div class="container-fullwidth clearfix">
                    <h1>
                        <i class="{{ block('icon_page') }}"></i>
                        <strong>{{ block('title_page') }}</strong>
                    </h1>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="{{ siteUrl('/') }}">
                                <i class="icon-home2"></i>
                            </a>
                        </li>
                        {{ block('ariane') }}
                    </ol>
                </div>
            </div>
        </div>

        <section id="content">
            <div class="content-wrap" style="padding: 20px;">
                {{ block('content') }}
            </div>
        </section>
    </div>

{% endblock contenu %}