{% extends 'layout.twig.html' %}

{% block contenu %}
    <div id="wrapper" class="clearfix">
        <header id="header" class="full-header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <div id="logo">
                        {% include 'logo.twig.html' %}
                    </div>

                    <nav id="primary-menu">
                        <ul>
                            {% for group in menuTree %}
                                {% if group.columns | length > 1 %}

                                    <li class="mega-menu sub-menu">
                                        <a href="#" class="sf-with-ul"><div>{{ group.name }}</div></a>
                                        <div class="mega-menu-content style-2 clearfix">
                                            {%     if group.columns | length == 1 %} {% set class = "col-lg-12" %}
                                            {% elseif group.columns | length == 2 %} {% set class = "col-lg-6" %}
                                            {% elseif group.columns | length == 3 %} {% set class = "col-lg-4" %}
                                            {% elseif group.columns | length == 4 %} {% set class = "col-lg-3" %}
                                            {% else                               %} {% set class = "col-5" %}
                                            {% endif %}
                                            {% for column in group.columns %}
                                                <ul class="mega-menu-column {{ class }}">
                                                    {% for block in column.blocks %}
                                                        <li class="mega-menu-title sub-menu">
                                                            <a href="#" class="sf-with-ul"><div>{{ block.title }}</div></a>
                                                            <ul>
                                                                {% for module in block.modules %}
                                                                    <li><a href="{{ siteUrl('/module/' ~ module.url ) }}"><div>{{ module.title }}</div></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </li>

                                {% else %}

                                    {% set modules = group.columns | first .blocks | first .modules %}

                                    {% if modules | length > 1 %}

                                        <li>
                                            <a href="javascript:;">{{ group.name }}</a>
                                            <ul>
                                                {% for module in group.columns | first . blocks | first . modules %}
                                                    <li><a href="{{ siteUrl('/module/' ~ module.url ) }}"><div>{{ module.title }}</div></a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                    {% elseif modules | length == 1 %}

                                        <li>
                                            <a href="{{ siteUrl('/module/' ~ modules|first.url ) }}"><div>{{ group.columns | first .blocks | first .modules | first . title }}</div></a>
                                        </li>

                                    {% endif %}

                                {% endif %}
                            {% endfor %}



                            {% for group in menuTree %}
                                {% if group.children|length > 1 %}
                                    <li>
                                        <a href="javascript:;">
                                            <div>{{ group.name }}</div>
                                        </a>
                                        <ul>
                                            {% for module in group.children %}
                                                <li>
                                                    <a href="{{ route( module.class ) }}">
                                                        <div>{{ module.name }}</div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    {% for module in group.children %}
                                        <li>
                                            <a href="{{ route( module.class ) }}">
                                                <div>{{ module.name }}</div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a href="#">
                                    Paramètres
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ siteUrl('/ext/page') }}">
                                            Pages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/ext/parammodule') }}">
                                            Modules
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/ext/user') }}">
                                            Administrateurs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/ext/group') }}">
                                            Groupes d'administrateurs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/ext/langue') }}">
                                            Langues
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/ext/metadata') }}">
                                            Métadonnées
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/ext/microdata') }}">
                                            Microdata
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Développeur</div>
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ siteUrl('/admin/moduleadmin') }}">
                                            <div>Modules</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/domain') }}">
                                            <div>Domaines</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/pageadmin') }}">
                                            <div>Pages</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/groupmodule') }}">
                                            <div>Menu d'administration</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/performance') }}">
                                            <div>Performances</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/log') }}">
                                            <div>Journal d'événements</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/maintenance') }}">
                                            <div>Maintenance</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ siteUrl('/admin/security') }}">
                                            <div>Sécurité</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a target="_blank" href="{{ siteUrl('/',false) }}">
                                    <div>Voir mon site</div>
                                </a>
                            </li>
                        </ul>

                        <div class="testimonial">
                            <div class="testi-image">
                                <a href="{{ siteUrl('/secured/profile') }}"><img src="http://ed.clefsdor.vm13.easydoor.pro/thumbs/64-64-bw/files/images/Administrateur/gd_1524745123.jpg"></a>
                            </div>
                            <div class="testi-content">
                                <div class="testi-meta">
                                    {{ user.fname }} {{ user.lname }}
                                    <span>{{ user.group_name }}</span>
                                    <a class="ed-logout" href="{{ siteUrl('/secured/logout') }}"><i class="icon-signout"></i>Déconnexion</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div id="page-menu" class="no-sticky">
            <div id="page-menu-wrap">
                <div class="container-fullwidth clearfix">
                    <h1>
                        <i class="{{ block('icon_page') }}"></i>
                        <strong>{{ block('title_page') }}</strong>
                    </h1>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="{{ siteUrl('/') }}">
                                <i class="icon-home2"></i>
                            </a>
                        </li>
                        {{ block('ariane') }}
                    </ol>
                </div>
            </div>
        </div>

        <section id="content">
            <div class="content-wrap" style="padding: 20px;">
                {{ block('content') }}
            </div>
        </section>
    </div>

{% endblock contenu %}