{% extends 'layout.twig.html' %}

{% block javascript_head %}
    <style>
        header.top {
            border-bottom: 4px solid {{ theme.color }};
        }

        .nav-sidebar > .expanded.active > a,
        .nav-sidebar > .expanded.active > a:hover,
        .nav-sidebar > .expanded.active> a:focus {
            border-left: 2px solid {{ theme.color }};
        }

        .nav-sidebar > .active,
        .nav-sidebar > .active > a,
        .nav-sidebar .parent .children a:hover,
        .nav-sidebar > .parent > .children > .active > a,
        .nav-sidebar > li > a:focus,
        .nav-sidebar > li > a:hover,
        .nav-sidebar > li > a:focus,
        .nav-sidebar > li:hover,
        header.top .profile.open .dropdown-menu li a i,
        header.top .viewfront:hover,
        .title-alone .panel-heading h2 {
            color: {{ theme.color }};
        }
        .form-control:focus {
            border-color: {{ theme.color }};
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px {{ theme.color }};
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px {{ theme.color }};
        }
    </style>
    {{ parent() }}
{% endblock %}

{% block contenu %}
        <input type="hidden" id="token" name="{{csrf_key}}" value="{{csrf_token}}" />
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<div id="logo">
                        <img src="{{ asset('img/logo-admin-transparent.png') }}" class="img-responsive" alt="JWeb Création" title="JWeb Création" />
                    </div>
                    <div class="overborder"></div>
                    <ul class="nav nav-sidebar">
						<li{% if menu == '' %} class="active"{% endif %}>
							<a href="{{ siteUrl('/') }}">
								<i class="fa fa-home"></i>
								<span>Accueil</span>
							</a>
						</li>
						<li{% if menu == 'menu' %} class="active"{% endif %}>
							<a href="{{ siteUrl('/ext/menu') }}">
								<i class="fa fa-link"></i>
								<span>Menu</span>
							</a>
						</li>
						{% for group in menuTree %}
							{% if group.children|length > 1 %}
								<li class="parent{% if group.open == true %} expanded active{% endif %}">
									<a href="javascript:;">
										<i class="fa fa-{{ group.icon }}"></i>
										<span>{{ group.name }}</span>
									</a>
									<ul class="nav children">
										{% for module in group.children %}
											<li{% if module.selected == true %} class="active"{% endif %}>
												<a href="{{ siteUrl('/module/' ~ module.class ) }}">
													<i class="fa fa-{{ module.icon }}"></i> <span>{{ module.name }}</span>
												</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								{% for module in group.children %}
									<li{% if module.selected == true %} class="active"{% endif %}>
										<a href="{{ siteUrl('/module/' ~ module.class ) }}">
											<i class="fa fa-{{ module.icon }}"></i> <span>{{ module.name }}</span>
										</a>
									</li>
								{% endfor %}
							{% endif %}
						{% endfor %}
						<li class="parent{% if menu == 'group' or menu == 'parammodule' or menu == 'page' or menu == 'user' or menu == 'langue' %} expanded active{% endif %}">
							<a href="#">
								<i class="fa fa-cogs"></i>
								<span>Paramètres</span>
							</a>
							<ul class="nav children">
                                <li{% if menu == 'page' %} class="active"{% endif %}>
                                    <a href="{{ siteUrl('/ext/page') }}">
                                        <i class="fa fa-file-text"></i> <span>Pages spéciales</span>
                                    </a>
                                </li>
                                <li{% if menu == 'parammodule' %} class="active"{% endif %}>
                                    <a href="{{ siteUrl('/ext/parammodule') }}">
                                        <i class="fa fa-dropbox"></i> <span>Modules</span>
                                    </a>
                                </li>
                                <li{% if menu == 'user' %} class="active"{% endif %}>
									<a href="{{ siteUrl('/ext/user') }}">
										<i class="fa fa-user"></i> <span>Utilisateurs</span>
									</a>
								</li>
								<li{% if menu == 'group' %} class="active"{% endif %}>
									<a href="{{ siteUrl('/ext/group') }}">
										<i class="fa fa-users"></i> <span>Groupes d'utilisateurs</span>
									</a>
								</li>
								<li{% if menu == 'langue' %} class="active"{% endif %}>
									<a href="{{ siteUrl('/ext/langue') }}">
										<i class="fa fa-language"></i> <span>Langues</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="parent{% if menu == 'metadata' or menu == 'redirect' %} expanded active{% endif %}">
							<a href="#">
								<i class="fa fa-line-chart"></i>
								<span>SEO</span>
							</a>
							<ul class="nav children">
								<li{% if menu == 'metadata' %} class="active"{% endif %}>
									<a href="{{ siteUrl('/ext/metadata') }}">
										<i class="fa fa-rss"></i> <span>Métadonnées</span>
									</a>
								</li>
								<!--
								<li{% if menu == 'redirect' %} class="active"{% endif %}>
									<a href="{{ siteUrl('/admin/redirect') }}">
										<i class="fa fa-retweet"></i> <span>Redirection 301</span>
									</a>
								</li>
								-->
							</ul>
						</li>
						{% if isAdmin == true %}
                            <li class="parent{% if menu == 'log' or menu == 'theme' or menu == 'security' or menu == 'performance' or menu == 'pageadmin' or menu == 'moduleadmin' or menu == 'groupmodule' %} expanded active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-code"></i>
                                    <span>Développeur</span>
                                </a>
                                <ul class="nav children">
                                    <li{% if menu == 'moduleadmin' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/moduleadmin') }}">
                                            <i class="fa fa-dropbox"></i> <span>Modules</span>
                                        </a>
                                    </li>
                                    <li{% if menu == 'pageadmin' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/pageadmin') }}">
                                            <i class="fa fa-file-text"></i> <span>Pages spéciales</span>
                                        </a>
                                    </li>
                                    <li{% if menu == 'groupmodule' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/groupmodule') }}">
                                            <i class="fa fa-bars"></i> <span>Menu d'administration</span>
                                        </a>
                                    </li>
                                    <li{% if menu == 'performance' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/performance') }}">
                                            <i class="fa fa-dashboard"></i> <span>Performances</span>
                                        </a>
                                    </li>
                                    <li{% if menu == 'log' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/log') }}">
                                            <i class="fa fa-history"></i> <span>Journal d'événements</span>
                                        </a>
                                    </li>
                                    <li{% if menu == 'theme' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/theme') }}">
                                            <i class="fa fa-paint-brush "></i> <span>Thèmes</span>
                                        </a>
                                    </li>
                                    <li{% if menu == 'security' %} class="active"{% endif %}>
                                        <a href="{{ siteUrl('/admin/security') }}">
                                            <i class="fa fa-lock"></i> <span>Sécurité</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<header class="top col-md-10 col-md-offset-2">
                        <div class="col-md-6">
                            <div class="ariane">
                                <ol class="breadcrumbs">
                                    <li>
                                        <a href="{{ siteUrl('/') }}">
                                            <i class="fa fa-home"></i>
                                        </a>
                                    </li>
                                    {{ block('ariane') }}
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <a class="viewfront" target="_blank" href="{{ siteUrl('/',false) }}">
                                    <i class="fa fa-star"></i> Voir mon site
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="profile">
                                    {{ user.fname }} {{ user.lname }}
                                    <span>{{ user.group_name }}</span>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ siteUrl('/secured/profile') }}"><i class="fa fa-user pull-right"></i> Mon profil</a></li>
                                        <li><a href="{{ siteUrl('/secured/logout') }}"><i class="fa fa-power-off pull-right"></i> Déconnexion</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</header>
					<div class="content">
						<section class="content-body" role="main">
							{{ block('content') }}
						</section>
					</div>
				</div>
			</div>
		</div>
{% endblock contenu %}