{% extends 'admin.twig.html' %}

{% block title_page %}{{ mod.title }}{% endblock %}

{% block ariane %}
	<li>
		<a href="{{ menu == 'module' ? siteUrl('/module/' ~ mod.name ) : 'javascript:;' }}">
            {{ block('title_page') }}
		</a>
	</li>
	<li>
		<span>
			{{ this_page }}
		</span>
	</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 clearfix" id="module-content">
            {{ block('module') }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('canvas/css/src/flag-icon/css/flag-icon.min.css') }}"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('canvas/js/easydoor/form.js') }}"></script>
{% endblock %}