<div class="modal1" id="myModal1">
    <div class="block divcenter" style="background-color: #fff; max-width: 932px;">
        <div class="title-modal">
            <div class="col_half nomargin"><h3>Sélectionner une image</h3></div>
            <div class="col_half col_last nomargin" style="width: 52%;"><a style="float: right;" href="{{ siteUrl('module/' ~ mod.name ~ '/newupload') }}" class="button button-3d button-mini button-rounded"><i class="icon-line2-cloud-upload"></i> Charger une image</a></div>
            <div class="clear"></div>
        </div>
        <div class="content content-modal">
            <div class="clear"></div>

            <div id="portfolio" class="portfolio grid-container">
                {% for image in images %}
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="javascript:;">
                                <img src="{{ siteUrl( path ~ '/' ~ image.media_mini_name , false ) }}" />
                            </a>
                            <div class="portfolio-overlay">
                                <a href="javascript:;" class="left-icon actionclickmedia" data-postaction="{{ siteUrl('module/' ~ mod.name ~ '/postclick') }}" data-id="{{ image.media_id }}"><i class="icon-line-plus"></i></a>
                                {% if image.media_delete == true %}
                                    <a class="right-icon deleteMedia" data-module="{{ mod.name }}" data-id="{{ image.media_id }}" href="{{ siteUrl('module/' ~ mod.name ~ '/deletemedia/' ~ image.media_id ~ '/' ~ csrf_token) }}"><i class="icon-trash2"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{#
<div class="media">
	<div class="title">
		Gestion des médias
		<span class="pull-right">
			<a href="{{ siteUrl('module/' ~ mod.name ~ '/newupload') }}" class="link-popup btn btn-xs btn-success"><i class="fa fa-upload"></i> Uploader un nouveau fichier</a>
			<a href="javascript:;" class="close-popup btn btn-xs btn-default"><i class="fa fa-times"></i> Fermer</a>
		</span>
	</div>
	<div class="content">
		{% for image in images %}
			<div class="mini">
				<div class="img">
					<a href="javascript:;" class="actionclickmedia" data-postaction="{{ siteUrl('module/' ~ mod.name ~ '/postclick') }}" data-id="{{ image.media_id }}">
						<img src="{{ siteUrl( path ~ '/' ~ image.media_mini_name , false ) }}" alt="" />
					</a>
				</div> 
				<div class="action">
                    {% if image.media_delete == true %}
                        <a class="btn btn-xs btn-danger deleteMedia" data-module="{{ mod.name }}" data-id="{{ image.media_id }}" href="{{ siteUrl('module/' ~ mod.name ~ '/deletemedia/' ~ image.media_id ~ '/' ~ csrf_token) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
                    {% else %}
                        <a class="btn btn-xs btn-default disabled"><i class="fa fa-trash-o"></i> Supprimer</a>
                    {% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="postupload" id="postupload">
		<div class="loading">
			<span>Traitement de l'image en cours ...</span>
			<img src="{{ asset('img/ajax-loader-medium.gif') }}" alt="" />
		</div>
	</div>
</div>
#}