{% extends 'module.twig.html' %}

{% block title_page %}{{ mod.title }}{% endblock %}
{% set this_page = 'Edition' %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/module/' ~ mod.name ~ '/content/' ~ id ~ '/' ~ csrf_token ~ '/' ~ lang_id ) }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
	<div class="row">
		<div class="col-md-12">
			<div class="edit">
				<div class="tabs">
					<ul class="nav nav-tabs nav-justified text-right tabs-primary">
						<li>
							<a href="{{ siteUrl('/module/' ~ mod.name ) }}">Liste</a>
						</li>
						<li{% if action == 'edit' %} class="active"{% endif %}>
							<a href="{{ siteUrl('/module/' ~ mod.name ~ '/edit/' ~ id) }}">Général</a>
						</li>
						
						{% for l in lang %}
						<li{% if action == 'content' and lang_id == l.id %} class="active"{% endif %}>
							<a href="{{ siteUrl('/module/' ~ mod.name ~ '/content/' ~ id ~ '/' ~ csrf_token ~ '/' ~ l.id ) }}">{{ l.name }}</a>
						</li>
						{% endfor %}
						
						{% if seo == true %}
						<li{% if action == 'seo' %} class="active"{% endif %}>
							<a href="{{ siteUrl('/module/' ~ mod.name ~ '/seo/' ~ id) }}">Référencement</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="tab-d">
				<div class="tab-pane active panel-body">
					<div id="paragraphs">
						<p class="text-center well">Pas de paragraphes supplémentaires définis.</p>
					</div>
					<section style="margin-top:20px">
						<div class="text-center">
							<div class="btn-group btn-group-justified">
								<a role="button" href="javascript:void(0)" class="btn btn-default btn-paragraph-line"><i class="fa fa-plus"></i> Ligne</a>
							</div>
						</div>
					</section>
				</div> 
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-2">
			<a id="btn_back" href="{{ siteUrl('/module/' ~ mod.name) }}" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Retourner à la liste</a>
		</div>
		<div class="col-md-5 col-md-offset-5 text-right">
			<button type="submit" id="btn_submit_stay" name="submit" value="stay" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer et continuer l'édition</button>
			<button type="submit" id="btn_submit" name="submit" value="back" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
		</div>
	</div>
</form>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ vendor('magnific-popup/dist/magnific-popup.css') }}" />
	<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var paragraphListURL = "{{ siteUrl('module/' ~ mod.name ~ '/paragraphlist/' ~ id ~ '/' ~ csrf_token ~ '/' ~ lang_id) }}";
		//var paragraphOtherLangListURL = "{{ siteUrl('/' ~ generic ~ '/paragraph-list/' ~ id ) }}";
		var generic = "content";
		var token = "{{csrf_token}}";
	</script>
	<script src="{{ vendor('magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
	<script type="text/javascript" src="{{ vendor('ckeditor/ckeditor.js') }}"></script>
	<script type="text/javascript" src="{{ vendor('ckeditor/adapters/jquery.js') }}"></script>
	<script src="{{ asset('js/i2n.text.js') }}"></script>
	<script src="{{ asset('js/i2n.functions.js') }}"></script>
{% endblock %}