{% block edit %}
	{% for c in field if c.type != 'hidden' %}
		<div class="form-group{% if c.error != '' %} has-error{% endif %}">
			<label class="col-md-3 control-label">{{ c.title }}</label>
			<div class="col-md-{{ c.type == 'image' ? '9' : '6' }}">
				{{ c.Form_HTML }}
				{% if c.comment != '' %}<span class="help-block"><i class="fa fa-info-circle"></i> {{ c.comment }}</span>{% endif %}
			</div>
		</div>
	{% endfor %}

	{% for c in field if c.type == 'hidden' %}
		{{ c.Form_HTML }}
	{% endfor %}
{% endblock %}