{% extends 'module.twig.html' %}

{% block title_page %}Performances{% endblock %}
{% set this_page = 'Modification' %}
{% set title_block_page = 'Modification' %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/admin/performance') }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
	<div class="row">
		<div class="col-md-12">
			<header class="panel-heading">
				<h2 class="panel-title">Optimisation des performances</h2>
			</header>
			<div class="tab-content">
				<div class="tab-pane active panel-body">
					<div class="form-group">
						<label class="col-md-3 control-label">URL du serveur CDN</label>
						<div class="col-md-6">
                            <div class="input-group input-group-icon">
                                <input type="text" name="server_cdn" class="form-control" value="{{ cdn }}" />
                                <span class="input-group-addon">
                                    {% if dev == false %}
                                        <span class="text-success">Activé</span>
                                    {% else %}
                                        <span class="text-danger">Désactivé</span>
                                    {% endif %}
                                </span>
                            </div>
                            <span class="help-block">
                                L'URL doit être au format <strong>cdn.mondomaine.com</strong>
                            </span>
						</div>
					</div>
				</div> 
			</div>

			<div class="tab-content">
				<div class="tab-pane active panel-body panel-body-border">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-5 col-md-offset-5 text-right">
							<button type="submit" id="btn_submit" name="submit" value="back" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</form>	
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
<link rel="stylesheet" href="{{ vendor('switchery/dist/switchery.min.css') }}" />
{% endblock %}

{% block javascripts %}
<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
<script src="{{ vendor('switchery/dist/switchery.min.js') }}"></script>
{% endblock %}