{% extends 'module.twig.html' %}

{% block meta %}
    {{ parent() }}
    <meta name="isadmin" content="{{ user.admin ? 1 : 0}}" />
{% endblock %}

{% block title_page %}{{ _('langues')}}{% endblock %}
{% set this_page = _('traductions') %}

{% block module %}
    <div class="fancy-title title-dotted-border">
        <h3>{{ _('langue_traduction_title')}}</h3>
    </div>

    <div class="panel-body">

        <div class="hot-container">
            <div id="handsontable">
                <div class="container-fluid bottommargin">
                    <div class="row" data-translation-action-bar style="background:#fff; left:0; width:100%; z-index:1;">
                        <div class="col_three_fourth nobottommargin">
                            {% if user.admin == 1 %}
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="nom_de_la_cle" style="height:40px; margin-top:-3px;">
                                </div>
                                <button class="button add-key">
                                    <i class="icon icon-plus"></i>
                                    {{ _('langue_traduction_add')}}
                                </button>
                                <button class="button show-new-keys">
                                    <i class="icon icon-pen"></i>
                                    {{ _('langue_traduction_show_uncompleted')}}
                                </button>
                                {% if admin_buttons.user %}
                                    <a href="{{ siteUrl('/ext/langue/traduction/default-users') }}" class="button">
                                        <i class="icon icon-users"></i>
                                        {{ _('language_translate_create_default_users')}}
                                    </a>
                                {% endif %}
                            </div>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </div>
                        <div class="col_one_fourth col_last nobottommargin">
                            <select class="form-control translate-lang-select">
                                <option value="">{{ _('langue_traduction_show')}}</option>
                                {% for row in contentRows %}
                                <option value="{{ row.locale }}">{{ row.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-hover table-border" id="translate-table">
                    <thead>
                    <tr data-translation-table-header style="background:#fff; left:0; width:100%; z-index:1;">
                        <th>
                            <input type="text" id="search-key" class="form-control" placeholder="{{ _('rechercher')}}" />
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div>
                    {% if user.admin == 1 %}
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="nom_de_la_cle" style="height:40px; margin-top:-3px;">
                            </div>
                            <button class="button add-key">{{ _('langue_traduction_add')}}</button>
                        </div>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/handsontable.css') }}" />
    <link rel="stylesheet" href="{{ vendor('cmsmedias/canvas/css/src/wysiwyg/summernote.css') }}" />
    <link rel="stylesheet" href="{{ vendor('cmsmedias/canvas/css/src/easydoor/traduction.css') }}" />
    <style>
        #translate-table tr td:first-child, #translate-table tr th:first-child {
            width: 300px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('libs/handsontable.min.js') }}"></script>
    <script src="{{ asset('js/handsontable.js') }}"></script>

    <script>
        var admin = "{{ siteUrl('/') }}/{{ adminFolder }}/";
    </script>

    <script src="{{ vendor('cmsmedias/canvas/js/wysiwyg/summernote.min.js') }}"></script>,
    <script src="{{ vendor('cmsmedias/canvas/js/wysiwyg/summernote-image-attributes.js') }}"></script>,
    <script src="{{ vendor('cmsmedias/canvas/js/wysiwyg/lang/summernote-fr-FR.js') }}"></script>
    <script src="{{ vendor('cmsmedias/canvas/js/plugins/jquery.magnific.js') }}"></script>
    <script src="{{ vendor('cmsmedias/canvas/js/easydoor/traduction.js') }}"></script>
{% endblock %}