{% extends 'module.twig.html' %}

{% block title_page %}Modules{% endblock %}
{% set this_page = 'Gestion' %}

{% block module %}
	<div class="row">
		<div class="col-md-12">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="{{ siteUrl('admin/moduleadmin/edit') }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Ajouter</a>
					</div>
					<h2 class="panel-title">Liste des modules</h2>
				</header>
				<div class="panel-body">
					<div class="table-responsive">
						{% if contentRows|length > 0 %}
							<table class="table table-striped table-hover mb-none">
								<thead>
								<tr>
									<th style="width: 50px;"></th>
									<th><strong>Nom</strong></th>
									<th><strong>Infos</strong></th>
									<th><strong>Principal</strong></th>
									<th class="text-right" style="width: 250px"><strong>Actions</strong></th>
								</tr>
								</thead>
								<tbody>
								{% for row in contentRows %}
									<tr class="tr1">
										<td>
											<i class="fa fa-{{ row.module_icon }}" style="font-size: 20px;"></i>
										</td>
										<td>
											<a href="{{ siteUrl('admin/moduleadmin/edit/' ~  row.module_id) }}">{{ row.module_name }}</a>
										</td>
										<td>
											{% if row.module_active == 0 %}
												<a class="btn btn-xs btn-warning" href="{{ siteUrl('admin/moduleadmin/active/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-circle-o"></i> Désactivé</a>
											{% else %}
												<a class="btn btn-xs btn-success" href="{{ siteUrl('admin/moduleadmin/disactive/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-check-circle-o"></i> Activé</a>
											{% endif %}
										</td>
										<td>
											{% if row.module_default == 0 %}
												<a class="btn btn-xs btn-warning" href="{{ siteUrl('admin/moduleadmin/default/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-circle-o"></i> Non</a>
											{% else %}
												<a class="btn btn-xs btn-success" href="{{ siteUrl('admin/moduleadmin/notdefault/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-check-circle-o"></i> Oui</a>
											{% endif %}
										</td>
										<td class="text-right">
											<div class="btn-group">
												<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-database"></i> Base de données <span class="caret"></span></button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="{{ siteUrl('admin/moduleadmin/truncate/' ~  row.module_id ~ '/' ~ csrf_token) }}">Vider les tables</a></li>
													<li><a href="{{ siteUrl('admin/moduleadmin/patch/' ~  row.module_id ~ '/' ~ csrf_token) }}">Patcher les tables</a></li>
												</ul>
											</div>
											<a class="btn btn-xs btn-info" href="{{ siteUrl('admin/moduleadmin/edit/' ~ row.module_id) }}"><i class="fa fa-pencil"></i></a>
											<a class="btn btn-xs btn-danger modal-delete" href="#deleteModal" data-id="{{ row.module_id }}" data-link="{{ siteUrl('admin/moduleadmin/delete/' ~ row.module_id) }}" data-text="Êtes-vous sûr de vouloir supprimer le module '{{ row.module_name }}' ?"><i class="fa fa-times"></i></a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						{% else %}
							<span>Aucun module n'est enregistré.</span>
						{% endif %}
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<section class="panel">
				<div class="panel-body">
					<table class="table mb-none list-module">
						<tbody>
						{% for row in contentRows %}
							<tr>
								<td>
									<i class="fa fa-{{ row.module_icon }}" style="font-size: 20px;"></i>
								</td>
								<td>
									<a href="{{ siteUrl('admin/moduleadmin/edit/' ~  row.module_id) }}">{{ row.module_name }}</a>
								</td>
								<td>
									{% if row.module_active == 0 %}
										<a class="btn btn-xs btn-warning" href="{{ siteUrl('admin/moduleadmin/active/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-circle-o"></i> Désactivé</a>
									{% else %}
										<a class="btn btn-xs btn-success" href="{{ siteUrl('admin/moduleadmin/disactive/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-check-circle-o"></i> Activé</a>
									{% endif %}
								</td>
								<td>
									{% if row.module_default == 0 %}
										<a class="btn btn-xs btn-warning" href="{{ siteUrl('admin/moduleadmin/default/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-circle-o"></i> Non</a>
									{% else %}
										<a class="btn btn-xs btn-success" href="{{ siteUrl('admin/moduleadmin/notdefault/' ~  row.module_id ~ '/' ~ csrf_token) }}"><i class="fa fa-check-circle-o"></i> Oui</a>
									{% endif %}
								</td>
								<td class="text-right">
									<div class="btn-group">
										<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-database"></i> Base de données <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="{{ siteUrl('admin/moduleadmin/truncate/' ~  row.module_id ~ '/' ~ csrf_token) }}">Vider les tables</a></li>
											<li><a href="{{ siteUrl('admin/moduleadmin/patch/' ~  row.module_id ~ '/' ~ csrf_token) }}">Patcher les tables</a></li>
										</ul>
									</div>
									<a class="btn btn-xs btn-info" href="{{ siteUrl('admin/moduleadmin/edit/' ~ row.module_id) }}"><i class="fa fa-pencil"></i></a>
									<a class="btn btn-xs btn-danger modal-delete" href="#deleteModal" data-id="{{ row.module_id }}" data-link="{{ siteUrl('admin/moduleadmin/delete/' ~ row.module_id) }}" data-text="Êtes-vous sûr de vouloir supprimer le module '{{ row.module_name }}' ?"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ vendor('magnific-popup/dist/magnific-popup.css') }}" />
	<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
{% endblock %}

{% block javascripts %}
	<script src="{{ vendor('magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
{% endblock %}