@import "variables";

html, body {
  height: 100% !important;
  overflow: visible !important;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}

textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}

textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}

.searchButton {
  button, a {
    margin: 0;
    width: 140px;
  }

  a {
    margin-top: 5px;
  }
}

.table-responsive {
  .switch {
    margin-top: 7px;

    label {
      margin: 0;
    }
  }
}

form {
  position: relative;
}

.form-process {
  background-image: none;
  i {
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -27px 0 0 -27px;
    color: $jweb-blue;
  }
}

.inline {
  display: inline-block;
}

.select2-container {
  .select2-selection--single {
    height: 38px;
    border-color: #ccc;
  }
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__rendered {
      line-height: 38px;
    }
    .select2-selection__arrow {
      b {
        top: 70%;
      }
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $jweb-blue;
  }
}

.table {
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;

    .orderTable {
      cursor: move;
    }
  }

  & > thead {
    & > tr {
      & > th {
        vertical-align: middle;
      }
    }
  }

  & > tbody {
    & > tr {
      & > td {
        vertical-align: middle;
      }
    }
  }

  tr {
    &.trSearch {
      background-color: #efefef;
    }
  }

  &.table-dnd {
    tr.myDragClass {
      background-color: #eee;
      padding: 10px;

      td {
        background-color: $jweb-blue !important;
        color: #fff !important;
        transform: translate(5px, 10px);

        transition-duration: 0.2s;
        transition-property: all;
        transition-timing-function: ease-out;

        a {
          color: #fff !important;
        }
      }
    }
  }
}

.dropdown-item {
  &.selected {
    background-color: $jweb-blue;
    color: #fff;
  }
}

.bootstrap-select {
  & > .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #ccc;
  }
}

.modal1 {
  .title-modal {
    background-color: $jweb-blue;
    padding: 15px;

    h3 {
      color: #fff;
      margin: 0;
    }
  }

  #modal-media {
    max-width: 1000px;
  }

  .content-modal {
    position: relative;
  }

  .loadingmedia {
    padding: 50px 0;
    text-align: center;

    i {
      margin-bottom: 10px;
      color: $theme-color;
    }
  }

  .portfolio {
    margin: 0;
    padding: 10px 10px 10px 22px;

    .portfolio-item {
      width: 150px;
      height: 150px;
    }
  }
}

.upload {
  .portfolio-image {
    height: 100%;

    .portfolio-overlay {
      opacity: 1;

      a {
        margin-left: -20px;
        margin-top: -30px;

        i {
          margin-top: 2px;
          width: auto;
          color: $theme-color;
        }
      }

      span {
        color: #fff;
        margin-top: 80px;
        display: block;
      }
    }
  }
}

.actionLink {
  a {
    i {
      font-size: 24px;
    }
  }
}

.page-link {
  color: $theme-color;

  &:hover {
    background-color: $jweb-blue;
  }
}

.ed_field {
  .comment {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #999;
  }

  &.error {
    textarea, input, .note-editor {
      border: 1px solid #C02942;
    }
  }

  .select2-container {
    width: 100% !important;
    margin-top:-2px !important;
  }
}

.fancy-title.title-bottom-border h1, .fancy-title.title-bottom-border h2, .fancy-title.title-bottom-border h3, .fancy-title.title-bottom-border h4, .fancy-title.title-bottom-border h5, .fancy-title.title-bottom-border h6 {
  border-bottom: 2px solid $jweb-blue;
}

.list-module {
  .promo {
    margin-bottom: 10px;
    padding: 20px;

    div {
      margin-bottom: 0;

      span {
        display: block;
        font-weight: bold;
        font-size: 20px;
      }

      a {
        &.button {
          position: relative;
          top: auto;
          right: auto;
          float: right;
          margin-left: 5px;
          margin-top: 0px;
        }
      }
    }
  }
}

.scrollhimage {
  .card {
    float: left;
    margin: 0 10px 10px 0;
    width: 18rem;

    .card-img-top {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }

    .card-body {
      text-align: center;

      p {
        margin: 0;
      }
    }
  }
}



.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.sidenav {
  li {
    &.parent {
      a {
        background-color: $jweb-blue;
        color: #fff;
        border-color: rgba(0, 0, 0, 0.1) !important;
      }
    }
  }
}

.newparentelement {
  border: 1px dashed $jweb-blue;
  background-color: #f9f9f9;

  &.feature-box {
    &.fbox-center {
      .fbox-icon {
        margin: 15px auto 15px;
      }
    }
  }
}

.icon-asterisk {
  color: $jweb-blue;
}

.turbolinks-progress-bar {
  height: 2px;
  background-image: linear-gradient(to left, #00afaf 0%, #164757 58%);
}

#toast-container {
  right: 0px;
  bottom: 0px;

  & > div,
  & > div:hover {
    display: block;
    opacity: 1;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0px;
  }
}

.toast-progress {
  height: 6px;
}
.toast-message {
  padding: 4px 0;
}
.toast-success {
  background-color: #00afaf;
}

#primary-menu {
  height: 60px;
}
#primary-menu ul {
  background: white;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
  color: $jweb-blue;
}

.help-online {
  background: url('../../img/easydoor-info.jpg') top left no-repeat;
  position: relative;
  display: block;
  height: 167px;
  width: 285px;
  margin-bottom: 20px;

  .top {
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    background-color: $theme-color;
    color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
  }

  .description {
    display: block;
    padding-top: 10px;
    color: #fff;
    padding: 0 20px;
    font-size: 12px;
  }
}

.upload-image {
  .button.btn-file, .button.fileinput-remove {
    margin:0px 0 0 0;
    height: 34px;
    line-height: 34px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .button.fileinput-remove {
    border-radius: 0;
    top: -13px;
  }
}

.file-caption.icon-visible .file-caption-name {
  padding-left: 0;
}

/* ************************************************ */
/* Gestion du menu au dessus des modules            */
/* ************************************************ */

.ed-menu .dropdown-toogle {
  margin-top: 3px;
}

.ed-menu .show {
  display: inline-block !important;
}

/* ************************************************ */
/* Gestion des documents                            */
/* ************************************************ */

.list-document {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px dashed #aaa;

  li {
    list-style: none;
    display: block;
    padding: 3px 10px;
    margin-bottom: 2px;

    .deletedoc {
      cursor: pointer;
    }
  }
}

/* ************************************************ */
/* Gestion des galeries                            */
/* ************************************************ */

.list-gallery {
  background-color: #f4f4f4;
  padding: 10px 10px 0 10px;
  border: 1px dashed #aaa;

  .mini-img {
    float: left;
    margin: 0 10px 10px 0;
    background-color: #fff;
    padding: 1px;
    border: 1px solid $theme-color;

    .btn-bar {
      text-align: center;

      i.deletegallery {
        cursor: pointer;
      }

      i.movegallery {
        cursor: move;
      }
    }
  }
}

/* ************************************************ */
/* Correction bug CSS multi-langue                  */
/* ************************************************ */

.input-group .note-editor {
  margin-bottom: 0;
  border-radius: 0 5px 5px 0;

  p { margin-bottom: 15px !important; }
  ul { padding-left: 40px !important; }
  a { color: #00AFAF !important; }
}

/* ************************************************ */
/* Gestion des champs isVideo                       */
/* ************************************************ */

.jvideo {
  .preview {
    border: 1px solid #c0ccd3;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #c0ccd3;
  }
}

/* ************************************************ */
/* Texte alternatif pour les images                 */
/* ************************************************ */

.alt {
  margin-top: 5px;
}

/* ************************************************ */
/* Correction d'un bug lors du clic sur le menu http*/
/* ************************************************ */

.input-group-btn.show {
  display: table-cell !important;
}

/* ************************************************ */
/* Gestion de la sélection des parents              */
/* ************************************************ */

.element-parent {
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;

  .image-presentation {
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 130px;
    margin-bottom: 15px;
  }

  .top {
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    background-color: $theme-color;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
  }

  h3 {
    text-transform: none;
  }

  .button-add {
    background-color: $jweb-blue;
  }
}

/* ************************************************ */
/* Icons                                            */
/* ************************************************ */

ul.docs-icons {
  list-style: none;
  margin: 0 -10px 20px 0px;
  padding: 0;
}

ul.docs-icons li {
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 11px;
  color: #555555;
}


ul.docs-icons li i {
  position: relative;
  top: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  margin: 0 auto;
}

ul.docs-icons li span {
  display: none;
  line-height: 24px;
  cursor: pointer;
}


/* ************************************************ */
/* Gestion du menu header                           */
/* ************************************************ */

#header.full-header #primary-menu > ul {
  padding-right: 0;
}

#primary-menu ul li.website > a {
  background: $jweb-blue url('../../img/computer.png') center 30px no-repeat;
  color: #fff;
}

.full-header #primary-menu ul li.website > a {
  padding: 65px 15px 13px 15px;
}
.full-header.sticky-header #primary-menu ul li.website > a {
  background-image: none;
}

/* ************************************************ */
/* Patch des bootstrap multiselect                  */
/* ************************************************ */

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active,
.dropdown-item.selected:hover, .dropdown-item.selected:focus {
  color: #fff;
  text-decoration: none;
  background-color: $jweb-blue !important;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 4px 6px;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fafafa;
  background: $theme-color;
  white-space: nowrap;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu a.selected span.dropdown-item-inner span.check-mark {
  margin: 0;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item {
  padding: 2px 6px;
}
.bootstrap-select.btn-group .dropdown-menu {
  height: 800px;
}

#content {
  overflow: visible;
}

#top-cart {
  transition-duration: 0s;
  margin-bottom: 0 !important;
  margin-top: -100px !important;
  margin-left: -1px !important;

  & > a {
    & > span {
      top: 38px;
      right: 3px;
      background-color: $jweb-blue;
    }
  }

  a {
    padding: 45px 0px 55px 0px;
    display: block;
    width: 40px;
    text-align: center;

    i {
      font-size: 18px;
      color: $theme-color;
    }
  }
}

.sticky-header {
  #top-cart {
    & > a {
      & > span {
        top: 21px;
      }
    }

    a {
      margin: 0 !important;
      margin-top: -80px !important;
      padding: 25px 0px 35px 0px;
    }
  }
}

/* Editeur de texte */
.note-editing-area {
  p {
    line-height: 1.4;
    margin-bottom: 12px;
  }

  ul, ol {
    padding-left: 20px;
    margin-bottom: 12px;
  }

  a {
    color: $jweb-blue !important;
    text-decoration: underline;
  }
}

/* Bug des selects : texte qui sort de la zone */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Bug de l'animation de l'icône de notification */
#top-cart {
  transition: none !important;
}

/* Bug de l'aide dans la zone de texte */
.tooltip {
  opacity:0;
  transition: opacity .3s;
  &.show { opacity:1; }
}


// Nouveau menu

#top-account {
  margin: 12px 13px !important;
  > .btn {
    background: $jweb-blue;
    color: white;
    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }
}

#top-notify {
  display: inline-block;
  float: right;
  margin: 12px 0 12px 13px !important;
  padding: 5px 10px;
  text-align: center;
}


@media only screen and (max-width: 991px) {
  #top-account {
    position: static !important;
  }
  #primary-menu-trigger {
    top: 5px !important;
  }
}
@media only screen and (max-width: 767px) {
  #primary-menu {
    min-height: 60px !important;
  }
}


/* ************************************************ */
/* Responsive                                       */
/* ************************************************ */

@import "easydoor/_responsive.scss";
@import "easydoor/form/_checkbox_biglist.scss";
@import "easydoor/form/_checkbox_checkable_tiles.scss";
@import "easydoor/form/_icon.scss";
