{% macro display_tree( contentArray ) %}
    {% if contentArray|length > 0 %}
        <ul>
            {% for row in contentArray %}
                <li class="menu_li_{{ row.id }}{% if row.active == true %} current_page{% endif %}{% if row.subpages|length > 0 %} sub{% endif %}">
                    <a itemprop="url" class="menu_a_{{ row.id }}" href="{{ row.type == 'link' ? row.url : siteUrl( row.url ) }}" title="{{ row.label }}"{{ row.blank == 1 ? ' target="_blank"' : '' }}>
                        <span itemprop="name">
                            {{ row.label }}
                        </span>
                    </a>
                    {% if row.subpages|length > 0 %}
                        {{ _self.display_tree( row.subpages ) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
<nav role="navigation" id="menunav{{ id }}" itemscope itemtype="https://schema.org/SiteNavigationElement">
    {{ _self.display_tree( menu ) }}
</nav>
{% if responsive == true %}
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menunav{{ id }}" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
{% endif %}