{% if debug == true %}{% set ext = 'dev.twig.html' %}{% else %}{% set ext = 'prod.twig.html' %}{% endif %}{% extends ext %}{% block html_content %}{{ vendor([
'bootstrap/dist/css/bootstrap.min.css',
'cmsmedias/libs/jquery.1.9.1.min.js',
'bootstrap/dist/js/bootstrap.min.js'
]) }}<!doctype html>
<html lang="{{ lang.active.url }}" xmlns:og="https://ogp.me/ns#">
<head>
    <title>{% block title %}{{ meta.title }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% for name,content in meta if name != 'title' and content != '' %}
        {% if name != 'robots_value' %}        <meta name="{{ name }}" content="{{ content }}" />
        {% endif %}
    {% endfor %}
    {% for name,content in og if content != '' %}
        <meta property="og:{{ name }}" content="{{ content }}" />
    {% endfor %}
    {{ block('meta') }}{% if rgpd.enabled == 1 %}<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    {% endif %}{% block stylesheets %}{{
    css() }}{% endblock %}{{
    analytics.google  }}{{
    block('javascript_head') }}
    {% if md.description != '' and md.logo != '' %}<script type="application/ld+json">{"@context":"https://schema.org","@type":"Corporation","description":"{{ md.description }}","url":"{{ siteUrl('/') }}","logo":"{{ md.logo }}"}</script>
    {% endif %}
    {% if md.name != '' and md.alt_name != '' %}<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","name":"{{ md.name }}","url":"{{ siteUrl('/') }}","alternateName":"{{ md.alt_name }}"}</script>
    {% endif %}{% if md.sameAs|length > 0 %}<script type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","url":"{{ siteUrl('/') }}","sameAs":[{% for row in md.sameAs %}{% if loop.index0 > 0 %},{% endif %}"{{ row }}"{% endfor %}]}</script>
    {% endif %}{% if md.address != '' and md.zip != '' and md.town != '' and md.phone != '' %}<script type="application/ld+json">{"@context":"https://schema.org","@type":"LocalBusiness","image":"{{ md.logo }}","telephone":"{{ md.phone }}","name":"{{ md.name }}","address":{"@context":"https://schema.org","@type":"PostalAddress","streetAddress":"{{ md.address }}","postalCode":"{{ md.zip }}","addressLocality":"{{ md.town }}"}}</script>
    {% endif %}{{
    webmaster_tools.google }}{{
    webmaster_tools.bing }}{{
    tracking.header }}
    <link rel="canonical" href="{{ siteUrl( site.url ) }}" hreflang="{{ lang.active.url }}" />
    {% if lang.count > 1 %}
        {% for l in lang.all %}
            {% if l.url != lang.active.url %}<link rel="alternate" href="{{ l.full_url }}" hreflang="{{ l.url }}" />{% endif %}
        {% endfor %}
    {% endif %}{% if env() != 'dev' and tracking.gtm != '' %}
    <script>
        (function(w,d,s,l,i) {
            w[l]=w[l]||[];
            w[l].push({ 'gtm.start': new Date().getTime(),event:'gtm.js' });
            var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;
            j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ tracking.gtm }}');
    </script>
    {% endif %}
</head>
<body{{ block('classbody') }}>
{% if env() != 'dev' and tracking.gtm != '' %}<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ tracking.gtm }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{% endif %}
{{ block('content') }}
{% block javascripts %}{{
javascript() }}{% endblock %}{% if rgpd.enabled == 1 %}<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "{{ rgpd.popup_background }}",
                    "text": "{{ rgpd.popup_color }}"
                },
                "button": {
                    "background": "{{ rgpd.button_background }}",
                    "text": "{{ rgpd.button_color }}"
                }
            },
        {% if rgpd.position == 'top-static' %}
        "position": "{{ rgpd.position }}",
            "static": true,
        {% elseif rgpd.position != 'bottom' %}
        "position": "{{ rgpd.position }}",
        {% endif %}
        "content": {
            "message": "{{ rgpd.text }}",
                "dismiss": "{{ rgpd.text_button }}",
                "link": "{{ rgpd.text_link }}",
                "href": "{{ rgpd.link }}"
        }
    })});
</script>{% endif %}{{
tracking.footer
}}
</body>
</html>{% endblock html_content %}