{% extends 'module.twig.html' %}

{% block title_page %}Pages spéciales{% endblock %}
{% set this_page = 'Gestion' %}

{% block module %}
    <div class="fancy-title title-dotted-border">
        <h3>Liste des pages spéciales</h3>
    </div>
    <div class="ed-menu">
        <a href="{{ siteUrl('admin/pageadmin/edit') }}" class="button button-mini"><i class="icon-plus"></i>Ajouter</a>
    </div>
    <br />
    <div class="table-responsive">
    {% if content|length > 0 %}
        <table class="table table-striped table-hover mb-none">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Nom</th>
                    <th>Défaut</th>
                    <th>Indexée</th>
                    <th>Statut</th>
                    <th class="text-right" style="width: 120px"></th>
                </tr>
            </thead>
            <tbody>
            {% if domain == true %}
                {% for domain in content if domain.page | length > 0 %}
                    <tr class="tr1">
                        <th colspan="6" class="text-center"><strong>{{ domain.name }}</strong></th>
                    </tr>
                    {% for row in domain.page %}
                        <tr class="tr1">
                            <td>
                                #{{ row.page_id }}
                            </td>
                            <td>
                                <a href="{{ siteUrl('admin/pageadmin/edit/' ~  row.page_id) }}">{{ row.page_name }}</a>
                            </td>
                            <td>
                                {% if row.page_default == 1 %}
                                    <span class="button button-3d button-mini button-rounded button-green disabled">Page par défaut</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if row.page_index == 0 %}
                                    <span class="button button-3d button-mini button-rounded button-amber disabled">Non</span>
                                {% else %}
                                    <span class="button button-3d button-mini button-rounded button-green disabled">Oui</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if row.page_active == 0 %}
                                    <span class="button button-3d button-mini button-rounded button-amber disabled">Désactivée</span>
                                {% else %}
                                    <span class="button button-3d button-mini button-rounded button-green disabled">Activée</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{{ siteUrl('admin/pageadmin/edit/' ~ row.page_id) }}"><i class="icon-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for row in content %}
                    <tr class="tr1">
                        <td>
                            #{{ row.page_id }}
                        </td>
                        <td>
                            <a href="{{ siteUrl('admin/pageadmin/edit/' ~  row.page_id) }}">{{ row.page_name }}</a>
                        </td>
                        <td>
                            {% if row.page_default == 1 %}
                                <span class="button button-3d button-mini button-rounded button-green disabled">Page par défaut</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row.page_index == 0 %}
                                <span class="button button-3d button-mini button-rounded button-amber disabled">Non</span>
                            {% else %}
                                <span class="button button-3d button-mini button-rounded button-green disabled">Oui</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row.page_active == 0 %}
                                <span class="button button-3d button-mini button-rounded button-amber disabled">Désactivée</span>
                            {% else %}
                                <span class="button button-3d button-mini button-rounded button-green disabled">Activée</span>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{{ siteUrl('admin/pageadmin/edit/' ~ row.page_id) }}"><i class="icon-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    {% else %}
        {% include 'form/generic/nocontent.twig' with {'msg':"Aucune page n'est enregistrée."} %}
    {% endif %}
    </div>

{% endblock %}