{% extends 'module.twig.html' %}

{% block title_page %}Groupes d'abonnés{% endblock %}

{% if id != -1 %}
	{% set this_page = 'Modification' %}
	{% set title_block_page = 'Modification d\'un groupe d\'abonnés' %}
{% else %}
	{% set this_page = 'Ajout' %}
	{% set title_block_page = 'Ajout d\'un nouveau groupe d\'abonnés' %}
{% endif %}

{% block module %}

<form name="form" method="post" action="{{ siteUrl('ext/newsletter_group_sub/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" id="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>
    <div class="ed-menu bottommargin-sm">
        <a href="{{ siteUrl('ext/newsletter_group_sub') }}" class="button button-mini"><i class="icon-th-list"></i> Gérer</a>
        <a href="{{ siteUrl('ext/newsletter_group_sub/edit') }}" class="button button-mini"><i class="icon-plus"></i> Ajouter</a>
    </div>
    <div class="ed field col_full">
        <label>Nom <span class="icon-asterisk"></span></label>
        <input type="text" id="newsletter_group_sub_name" name="newsletter_group_sub_name" class="form-control" value="{{ post.newsletter_group_sub_name }}" />
    </div>
    {% include 'form/generic/button.twig' %}
</form>
{% endblock %}