{% extends 'module.twig.html' %}

{% block title_page %}Groupes d'abonnés{% endblock %}

{% set this_page = 'Import d\'abonnés' %}
{% set title_block_page = 'Ajout d\'abonnés dans le groupe "' ~ name ~ '"'%}

{% block module %}
    <div class="fancy-title title-dotted-border">
        <h3>{{ title_block_page }}</h3>
    </div>
    <div class="ed-menu marginbottom-sm">
        <a href="{{ siteUrl('ext/newsletter_group_sub') }}" class="button button-mini"><i class="icon-th-list"></i> Gérer</a>
        <a href="{{ siteUrl('ext/newsletter_group_sub/edit') }}" class="button button-mini"><i class="icon-plus"></i> Ajouter</a>
    </div>
    <br /><br />
    <div class="clear"></div>

<form name="form" method="post" action="{{ siteUrl('ext/newsletter_group_sub/subscriber/' ~ id ~ '/import') }}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" id="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_full">
                <label>Adresses email</label>
                <textarea id="emails" name="emails" class="form-control" rows="10"></textarea>
            </div>
            <div class="style-msg infomsg">
                <div class="sb-msg"><i class="icon-info-sign"></i><strong>Information</strong> Pour ajouter plusieurs emails en une seule fois, il vous suffit de faire un retour à la ligne aprés chaque adresse.</div>
            </div>
            {% include 'form/generic/button.twig' %}
        </div>
    </div>
</form>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
{% endblock %}

{% block javascripts %}
<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
{% endblock %}