{% extends 'admin.twig.html' %}

{% block title_page %}404{% endblock %}

{% block content %}
<section class="body-error error-inside">
	<div class="center-error">

		<div class="row">
			<div class="col-md-12">
				<div class="main-error mb-xlg">
					<h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
					<p class="error-explanation text-center">Nous sommes désolés mais cette page est introuvable ...</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}