{% if debug == true %}{% set ext = 'dev.twig.html' %}{% else %}{% set ext = 'prod.twig.html' %}{% endif %}{% extends ext %}{% block html_content %}{{ vendor([
'bootstrap/dist/css/bootstrap.min.css',
'cmsmedias/libs/jquery.1.9.1.min.js',
'bootstrap/dist/js/bootstrap.min.js'
]) }}<!doctype html>
<html lang="{{ lang.active.url }}" xmlns:og="http://ogp.me/ns#">
<head>
    <title>{% block title %}{{ meta.title }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% for name,content in meta if name != 'title' and content != '' %}
        {% if name != 'robots_value' %}        <meta name="{{ name }}" content="{{ content }}" />
        {% endif %}
    {% endfor %}
    {% for name,content in og if content != '' %}
        <meta property="og:{{ name }}" content="{{ content }}" />
    {% endfor %}
    {{ block('meta') }}{% block stylesheets %}{{
    css() }}{% endblock %}{{
    block('javascript_head') }}
    {% if md.description != '' and md.logo != '' %}<script type="application/ld+json">{"@context":"http://schema.org","@type":"Corporation","description":"{{ md.description }}","url":"{{ siteUrl('/') }}","logo":"{{ md.logo }}"}</script>
    {% endif %}
{% if md.name != '' and md.alt_name != '' %}<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"{{ md.name }}","url":"{{ siteUrl('/') }}","alternateName":"{{ md.alt_name }}"}</script>
    {% endif %}{% if md.facebook != '' or md.twitter != '' or md.instagram != '' or md.linkedin != '' or md.pinterest != '' %}<script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","url":"{{ siteUrl('/') }}"{% if md.facebook != '' %},"sameAs":"{{ md.facebook }}"{% endif %}{% if md.twitter != '' %},"sameAs":"{{ md.twitter }}"{% endif %}{% if md.instagram != '' %},"sameAs":"{{ md.instagram }}"{% endif %}{% if md.linkedin != '' %},"sameAs":"{{ md.linkedin }}"{% endif %}{% if md.pinterest != '' %},"sameAs":"{{ md.pinterest }}"{% endif %}}</script>
    {% endif %}{% if md.address != '' and md.zip != '' and md.town != '' and md.phone != '' %}<script type="application/ld+json">{"@context":"http://schema.org","@type":"LocalBusiness","image":"{{ md.logo }}","telephone":"{{ md.phone }}","name":"{{ md.name }}","address":{"@context":"http://schema.org","@type":"PostalAddress","streetAddress":"{{ md.address }}","postalCode":"{{ md.zip }}","addressLocality":"{{ md.town }}"}}</script>
    {% endif %}{{
    webmaster_tools.google }}{{
    webmaster_tools.bing }}{{
    tracking.header }}
    <link rel="canonical" href="{{ siteUrl( site.url ) }}" hreflang="{{ lang.active.url }}" />
    {% if lang.count > 1 %}
        {% for l in lang.all %}
            {% if l.url != lang.active.url %}<link rel="alternate" href="{{ l.full_url }}" hreflang="{{ l.url }}" />{% endif %}
        {% endfor %}
    {% endif %}
</head>
<body{{ block('classbody') }}>
{{ block('content') }}
{% block javascripts %}{{
javascript() }}{% endblock %}{{
tracking.footer
}}{{
analytics.google  }}
</body>
</html>{% endblock html_content %}