{% extends 'admin.twig.html' %}

{% block title_page %}{{ mod.title }}{% endblock %}

{% block ariane %}
	<li>
		<a href="{{ menu == 'module' ? siteUrl('/module/' ~ mod.name ) : 'javascript:;' }}">
            {{ block('title_page') }}
		</a>
	</li>
	<li>
		<span>
			{{ this_page }}
		</span>
	</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            {% include 'menu/' ~ cat ~ '.twig' %}
        </div>
        <div class="col-md-10 clearfix" id="module-content">
            {{ block('module') }}
        </div>
    </div>
{% endblock %}