{% extends 'module.twig.html' %}

{% block title_page %}Expéditeur{% endblock %}


{% if id != -1 %}
	{% set this_page = 'Modification' %}
	{% set title_block_page = 'Modification d\'un expéditeur' %}
{% else %}
	{% set this_page = 'Ajout' %}
	{% set title_block_page = 'Ajout d\'un nouvel expéditeur' %}
{% endif %}

{% block module %}
    <form name="form" method="post" action="{{ siteUrl('ext/newsletter_sender/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
        <input type="hidden" name="{{csrf_key}}" id="{{csrf_key}}" value="{{csrf_token}}" />
        <div class="fancy-title title-dotted-border">
            <h3>{{ title_block_page }}</h3>
        </div>
        <div class="ed-menu bottommargin-sm">
            <a href="{{ siteUrl('ext/newsletter_sender') }}" class="button button-mini"><i class="icon-th-list"></i> Gérer</a>
            <a href="{{ siteUrl('ext/newsletter_sender/edit') }}" class="button button-mini"><i class="icon-plus"></i> Ajouter</a>
        </div>
        <div class="ed field col_full">
            <label>Nom <span class="icon-asterisk"></span></label>
            <input type="text" id="newsletter_sender_name" name="newsletter_sender_name" class="form-control" value="{{ post.newsletter_sender_name }}" />
        </div>
        <div class="ed field col_full">
            <label>Adresse email <span class="icon-asterisk"></span></label>
            <input type="text" id="newsletter_sender_email" name="newsletter_sender_email" class="form-control" value="{{ post.newsletter_sender_email }}" />
        </div>
        {% include 'form/generic/button.twig' %}
    </form>
{% endblock %}