{% extends 'errors/layout.twig.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Base de données</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                La connection à la base de données est impossible. Merci de vérifier les identifiants dans le fichier de configuration du projet.
            </div>
        </div>
    </div>
{% endblock %}