<!doctype html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
    <head>
        <title>JContent</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="language" content="fr" />
        <meta name="author" content="JWeb Création" />
        <meta name="robots" content="noindex,nofollow" />
        <link rel="stylesheet" href="{{ siteUrl('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ siteUrl('assets/vendor/fontawesome/css/font-awesome.min.css',false) }}" />
        <link rel="stylesheet" href="{{ siteUrl('assets/vendor/cmsmedias/css/error.css') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1><span>J</span>Content</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 descrption text-center">
                        Application web de gestion de contenu.
                    </div>
                </div>
            </div>
        </header>

        <section class="content">
            {{ block('content') }}
        </section>

        <script type="text/javascript" src="{{ siteUrl('assets/vendor/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ siteUrl('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>