{{ vendor([
'bootstrap/dist/css/bootstrap.min.css',
'jquery/jquery.min.js',
'jquery-ui/jquery-ui.min.js',
'jquery-ui/themes/smoothness/jquery-ui.min.css',
'cmsmedias/css/error.css',
'bootstrap/dist/js/bootstrap.min.js'
]) }}<!doctype html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
    <head>
        <title>JContent</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="language" content="fr" />
        <meta name="author" content="JWeb Création" />
        <meta name="robots" content="noindex,nofollow" />
        {{ css() }}
        <link rel="stylesheet" href="{{ siteUrl('assets/vendor/fontawesome/css/font-awesome.min.css',false) }}" />
        <link rel="stylesheet" href="{{ asset('css/error.css') }}" />
    </head>
    <body>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ siteUrl('assets/vendor/cmsmedias/img/jweb-logo.jpg') }}" class="img-responsive" alt="" title="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1><span>J</span>Content</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 descrption text-center">
                        Application web de gestion de contenu.
                    </div>
                </div>
            </div>
        </header>

        <section class="content">
            {{ block('content') }}
        </section>
        {{ javascript() }}
    </body>
</html>