{% extends 'module.twig.html' %}

{% block title_page %}{{ _('maintenance')}}{% endblock %}
{% set this_page = 'Modification' %}
{% set title_block_page = _('modification') %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('/admin/maintenance') }}" role="form" class="form-horizontal group-border-dashed">
    <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    <div class="fancy-title title-dotted-border">
        <h3>{{ _('maintenance_edit_title')}}</h3>
    </div>
    <div class="tab-content">
        <div class="tab-pane active panel-body">
            <div class="ed_field col_full">
                <label>{{ _('maintenance_edit_activate')}}</label>
                <div class="comment">{{ _('maintenance_edit_activate_info')}}</div>
                {% include 'form/generic/switch.twig' with {'value':maintenance_active, 'name':'maintenance_active'} %}
            </div>
            <div class="ed_field col_half">
                <label>{{ _('security_edit_ip')}}</label>
                <textarea name="maintenance_ip" class="form-control" rows="10">{{ maintenance_ip }}</textarea>
            </div>
            <div class="ed_field col_full">
                <div class="style-msg infomsg">
                    <div class="sb-msg"><i class="icon-info-sign"></i>{{ address_ip }} <strong>{{ ip }}</strong></div>
                </div>
            </div>
            {% include 'form/generic/button.twig' %}
        </div>
    </div>
</form>
{% endblock %}