{% extends 'admin.twig.html' %}

{% block title_page %}Accueil{% endblock %}

{% block content %}
    <div class="row dashboard">
        <div class="col-md-4">
            <header class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-life-ring"></i> Support technique</h2>
            </header>
            <div class="tab-content">
                <div class="tab-pane active panel-body support">
                    Notre support est ouvert de 9h-12h / 14h-18h du Lundi au Vendredi.
                    <div class="telephone"><i class="fa fa-phone"></i> 04.22.13.21.09</div>
                    Nous sommes également disponible par email à l'adresse <a href="mailto:contact@jweb-creation.fr">contact@jweb-creation.fr</a>
                    <img src="{{ asset('img/logo-jweb-creation.jpg')}}" alt="JWeb-Création" title="JWeb-Création" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <header class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-info-circle"></i> {{ techno }}</h2>
            </header>
            <div class="tab-content">
                <div class="tab-pane active panel-body infoscms">
                    <div class="row">
                        <div class="col-md-4">Version :</div>
                        <div class="col-md-8">{{ version }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Mode :</div>
                        <div class="col-md-8">
                            {% if debug == true %}
                                <span class="bg-danger">Développement</span>
                            {% else %}
                                <span class="bg-success">Production</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Dernière mise à jour :</div>
                        <div class="col-md-8">{{ date_update|date("d/m/Y") }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Adresse du sitemap :</div>
                        <div class="col-md-8"><a href="{{ siteUrl('/sitemap.xml',false) }}" target="_blank">{{ siteUrl('/sitemap.xml',false) }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Serveur CDN :</div>
                        <div class="col-md-8">
                            {% if cdn == '' %}
                                <span class="bg-danger">Aucun</span>
                            {% else %}
                                {{ cdn }}
                                {% if debug == true %}
                                    <span class="bg-danger">Désactivé</span>
                                {% else %}
                                    <span class="bg-success">Activé</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 twitter">
            <a class="twitter-timeline"  href="https://twitter.com/JwebCreation" data-widget-id="661641602700546050">Tweets de @JwebCreation</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title-alone">
            <header class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-bar-chart"></i> Optimisation du référencement</h2>
            </header>
        </div>
    </div>
    <div class="row">
        {% if seo.module|length > 0 or seo.page|length > 0 or seo.elt_module|length > 0 %}
            {% if seo.page|length > 0 %}
                <div class="col-md-4">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-file-text"></i> Pages spéciales</h2>
                    </header>
                    <div class="tab-content">
                        <div class="tab-pane active panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover mb-none">
                                    <thead>
                                    <tr>
                                        <th><strong>Nom</strong></th>
                                        <th><strong>Défaut</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in seo.page %}
                                        <tr class="tr1">
                                            <td>
                                                <a href="{{ siteUrl('ext/page/edit/' ~  row.page_id) }}">{{ row.page_name }}</a>
                                            </td>
                                            <td class="defaut">
                                                {% if row.page_lang_title == '' %}
                                                    <span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> META TITLE</span>
                                                {% endif %}
                                                {% if row.page_lang_description == '' %}
                                                    <span class="label label-warning"><i class="fa fa-exclamation"></i> META DESCRIPTION</span>
                                                {% endif %}
                                                {% if row.page_lang_keyword == '' %}
                                                    <span class="label label-info"><i class="fa fa-info"></i> META KEYWORD</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if seo.module|length > 0 %}
                <div class="col-md-4">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-dropbox"></i> Modules</h2>
                    </header>
                    <div class="tab-content">
                        <div class="tab-pane active panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover mb-none">
                                    <thead>
                                    <tr>
                                        <th><strong>Nom</strong></th>
                                        <th><strong>Défaut</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in seo.module %}
                                        <tr class="tr1">
                                            <td>
                                                <a href="{{ siteUrl('ext/parammodule/edit/' ~  row.module_id) }}">{{ row.module_name }}</a>
                                            </td>
                                            <td class="defaut">
                                                {% if row.module_lang_title == '' %}
                                                    <span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> META TITLE</span>
                                                {% endif %}
                                                {% if row.module_lang_description == '' %}
                                                    <span class="label label-warning"><i class="fa fa-exclamation"></i> META DESCRIPTION</span>
                                                {% endif %}
                                                {% if row.module_lang_keyword == '' %}
                                                    <span class="label label-info"><i class="fa fa-info"></i> META KEYWORD</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if seo.elt_module|length > 0 %}
                {% for module in seo.elt_module %}
                    <div class="col-md-4">
                        <header class="panel-heading">
                            <h2 class="panel-title"><i class="fa fa-{{ module.icon }}"></i> {{ module.name }}</h2>
                        </header>
                        <div class="tab-content">
                            <div class="tab-pane active panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover mb-none">
                                        <thead>
                                        <tr>
                                            <th><strong>{{ module.title }}</strong></th>
                                            <th><strong>Défaut</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in module.tab %}
                                            <tr class="tr1">
                                                <td>
                                                    <a href="{{ siteUrl('module/' ~ module.class ~ '/seo/' ~  row.id) }}">{{ row.value }}</a>
                                                </td>
                                                <td class="defaut">
                                                    {% if row.seo_title == '' %}
                                                        <span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> META TITLE</span>
                                                    {% endif %}
                                                    {% if row.seo_description == '' %}
                                                        <span class="label label-warning"><i class="fa fa-exclamation"></i> META DESCRIPTION</span>
                                                    {% endif %}
                                                    {% if row.seo_keyword == '' %}
                                                        <span class="label label-info"><i class="fa fa-info"></i> META KEYWORD</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-success col-md-12">
                    <i class="fa fa-check"></i> Votre site est optimisé à 100% pour le référencement
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}