{% extends 'module.twig.html' %}

{% block title_page %}{{ _('index_title') }}{% endblock %}

{% block content %}
    <div class="col_one_third">
        <div class="title-block">
            <h3><span>{{ _('index_support') }}</span></h3>
            <span>{{ _('index_support_detail') }}</span>
        </div>

        <div class="text-center">
            <a href="mailto:content@easydoor.pro" class="button button-rounded button-reveal button-large">{{ _('button_contact') }}</a>
        </div>
    </div>
    <div class="col_one_third">
        <div class="title-block">
            <h3><span>easyDOOR</span></h3>
            <span>{{ _('index_easydoor_subtitle') }}</span>
        </div>
        <div class="row">
            <div class="col-md-4">{{ _('index_easydoor_version') }} :</div>
            <div class="col-md-8">{{ version }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ _('index_easydoor_mode_title') }} :</div>
            <div class="col-md-8">
                {% if debug == true %}
                    <span class="bg-danger">{{ _('index_easydoor_mode_true') }}</span>
                {% else %}
                    <span class="bg-success">{{ _('index_easydoor_mode_false') }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ _('maintenance') }} :</div>
            <div class="col-md-8">
                {% if maintenance == 1 %}
                    <span class="bg-danger"><i class="fa fa-exclamation-triangle"></i>{{ _('activated_m') }}</span>
                {% else %}
                    <span class="bg-success">{{ _('disable_m') }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ _('index_easydoor_update_title') }} :</div>
            <div class="col-md-8">{{ date_update|date("d/m/Y") }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ _('index_easydoor_sitemap_title') }} :</div>
            <div class="col-md-8"><a href="{{ siteUrl('/sitemap.xml',false) }}" target="_blank">{{ siteUrl('/sitemap.xml',false) }}</a></div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ _('index_easydoor_host_title') }} :</div>
            <div class="col-md-8">
                {% if cdn == '' %}
                    <span class="bg-danger">{{ _('index_easydoor_host_none') }}</span>
                {% else %}
                    {{ cdn }}
                    {% if debug == true %}
                        <span class="bg-danger">{{ _('disable_m') }}</span>
                    {% else %}
                        <span class="bg-success">{{ _('activated_m') }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="divider"><i class="icon-circle"></i></div>

    <div class="row">
        <div class="col-md-12 title-alone">
            <header class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-bar-chart"></i> </h2>
            </header>
            <div class="title-block">
                <h3><span>{{ _('index_sea_title') }}</span></h3>
                <span>easyDOOR {{ _('index_sea_detail') }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        {% if seo.module|length > 0 or seo.page|length > 0 or seo.elt_module|length > 0 %}
            {% if seo.page|length > 0 %}
                <div class="col-md-4">
                    <div class="fancy-title title-border">
                        <h3>{{ _('pages') }}</h3>
                    </div>
                    <div class="tab-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover mb-none">
                                <thead>
                                <tr>
                                    <th><strong>{{ _('nom') }}</strong></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in seo.page %}
                                    <tr class="tr1">
                                        <td>
                                            <a href="{{ siteUrl('ext/page/edit/' ~  row.page_id) }}">{{ row.page_name }}</a>
                                        </td>
                                        <td class="defaut">
                                            {% if row.page_lang_title == '' %}
                                                <span class="label label-danger"><i class="icon-warning-sign" style="font-size: 10px"></i> {{ _('index_sea_metatitle') }}</span>
                                            {% endif %}
                                            {% if row.page_lang_description == '' %}
                                                <span class="label label-warning"><i class="icon-warning-sign" style="font-size: 10px"></i> {{ _('index_sea_metadesc') }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if seo.module|length > 0 %}
                <div class="col-md-4">
                    <div class="fancy-title title-border">
                        <h3>{{ _('modules') }}</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mb-none">
                            <thead>
                            <tr>
                                <th><strong>{{ _('nom') }}</strong></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in seo.module %}
                                <tr class="tr1">
                                    <td>
                                        <a href="{{ siteUrl('ext/parammodule/edit/' ~  row.module_id) }}">{{ row.module_name }}</a>
                                    </td>
                                    <td class="defaut">
                                        {% if row.module_lang_title == '' %}
                                            <span class="label label-danger"><i class="icon-warning-sign" style="font-size: 10px"></i> {{ _('index_sea_metatitle') }}</span>
                                        {% endif %}
                                        {% if row.module_lang_description == '' %}
                                            <span class="label label-warning"><i class="icon-warning-sign" style="font-size: 10px"></i> {{ _('index_sea_metadesc') }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if seo.elt_module|length > 0 %}
                {% for module in seo.elt_module %}
                    <div class="col-md-4">
                        <section class="panel table">
                            <header class="panel-heading">
                                <h2 class="panel-title"><i class="fa fa-{{ module.icon }}"></i> {{ module.name }}</h2>
                            </header>
                            <div class="tab-content">
                                <div class="tab-pane active panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover mb-none">
                                            <thead>
                                            <tr>
                                                <th><strong>{{ module.title }}</strong></th>
                                                <th><strong>{{ _('default') }}</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in module.tab %}
                                                <tr class="tr1">
                                                    <td>
                                                        <a href="{{ siteUrl('module/' ~ module.class ~ '/seo/' ~  row.id) }}">{{ row.value }}</a>
                                                    </td>
                                                    <td class="defaut">
                                                        {% if row.seo_title == '' %}
                                                            <span class="label label-danger"><i class="icon-warning-sign" style="font-size: 10px"></i> {{ _('index_sea_metatitle') }}</span>
                                                        {% endif %}
                                                        {% if row.seo_description == '' %}
                                                            <span class="label label-warning"><i class="icon-warning-sign" style="font-size: 10px"></i> {{ _('index_sea_desc') }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-success col-md-12">
                    <i class="fa fa-check"></i> {{ _('index_sea_success') }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}