#header.full-header .container,
.container-fullwidth {
  @media only screen and (max-width: 991px) {
    margin: 0 auto;
    width: 100% !important;
    padding: 0 !important;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 100% !important;
    h1 {
      padding: 0 15px !important;
    }
  }

  @media (max-width: 575px) {
    padding: 0 !important;
  }
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  @media only screen and (max-width: 991px) {
    display: none !important;
  }
}

#header-wrap.stay-big {
  height: 100px !important;
}

#primary-menu {
  &.two-lines {
    touch-action: pan-y;
    padding: 0 110px 0 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  > ul {
    display: block;
    width: 100%;
    padding-left: 30px;

    .testimonial, > li > a {
      transition: all 0s;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
    }

    &.small-space {
      > li, .website {
        > a {
          padding: 39px 8px;
        }
        &.website {
          a {
            padding-left: 8px !important;
            padding-right: 8px !important;
            background: $jweb-blue;
          }
        }
      }
    }


  }
  &.two-lines {
    > ul {
      > li, .website {
        position: static;
        > a {
          padding: 4px 8px !important;
        }
      }
    }
  }

  .testimonial {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media only screen and (max-width: 767px) {
    min-height: 100px;

    .testimonial {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }
  }
}

#header:not(.sticky-header) {
  .small-space {
    .website a {
      padding: 39px 8px !important;
    }
  }
  .two-lines {
    .website a {
      padding: 14px 8px !important;
    }
  }
}

body:not(.sticky-responsive-menu) {
  #primary-menu {
    > ul {
      @media only screen and (max-width: 991px) {
        display: none;
        &.d-block {
          display: block;
          position: relative;
          z-index: 1;
          margin-top: 60px !important;
          box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
        }
      }
    }
  }
}

.breadcrumbs {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.help-online {
  background: #01AFB0 url('../../img/easydoor-info.jpg') top left no-repeat;
  position: relative;
  display: block;
  min-height: 167px;
  width: 285px;
  max-width: 100%;
  margin-bottom: 20px;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}