.searchButton button, .searchButton a {
  margin: 0;
  width: 140px;
}
.searchButton a {
  margin-top: 5px;
}

.table-responsive .switch {
  margin-top: 7px;
}
.table-responsive .switch label {
  margin: 0;
}

form {
  position: relative;
}

.form-process {
  background-image: none;
}
.form-process i {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -27px 0 0 -27px;
  color: #00afaf;
}

.inline {
  display: inline-block;
}

.table td {
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}
.table td .orderTable {
  cursor: move;
}
.table > thead > tr > th {
  vertical-align: middle;
}
.table tr.trSearch {
  background-color: #efefef;
}
.table.table-dnd tr.myDragClass {
  background-color: #eee;
  padding: 10px;
}
.table.table-dnd tr.myDragClass td {
  background-color: #00afaf !important;
  color: #fff !important;
  transform: translate(5px, 10px);
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}
.table.table-dnd tr.myDragClass td a {
  color: #fff !important;
}

.modal1 .title-modal {
  background-color: #00afaf;
  padding: 15px;
}
.modal1 .title-modal h3 {
  color: #fff;
  margin: 0;
}
.modal1 .content-modal {
  position: relative;
}
.modal1 .loadingmedia {
  padding: 50px 0;
  text-align: center;
}
.modal1 .loadingmedia i {
  margin-bottom: 10px;
  color: #164757;
}
.modal1 .portfolio {
  margin: 0;
  padding: 10px 10px 10px 22px;
}
.modal1 .portfolio .portfolio-item {
  width: 150px;
  height: 150px;
}

.upload .portfolio-image {
  height: 100%;
}
.upload .portfolio-image .portfolio-overlay {
  opacity: 1;
}
.upload .portfolio-image .portfolio-overlay a {
  margin-left: -20px;
  margin-top: -30px;
}
.upload .portfolio-image .portfolio-overlay a i {
  margin-top: 2px;
  width: auto;
  color: #164757;
}
.upload .portfolio-image .portfolio-overlay span {
  color: #fff;
  margin-top: 80px;
  display: block;
}

.actionLink a i {
  font-size: 24px;
}

.page-link {
  color: #164757;
}
.page-link:hover {
  background-color: #00afaf;
}

.ed_field .comment {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #999;
}
.ed_field.error textarea, .ed_field.error input, .ed_field.error .note-editor {
  border: 1px solid #C02942;
}

.scrollhimage .card {
  float: left;
  margin: 0 10px 10px 0;
  width: 18rem;
}
.scrollhimage .card .card-img-top {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.scrollhimage .card .card-body {
  text-align: center;
}
.scrollhimage .card .card-body p {
  margin: 0;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.sidenav li.parent a {
  background-color: #00afaf;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.newparentelement {
  border: 1px dashed #00afaf;
  background-color: #f9f9f9;
}
.newparentelement.feature-box.fbox-center .fbox-icon {
  margin: 15px auto 15px;
}

.icon-asterisk {
  color: #00afaf;
}

.turbolinks-progress-bar {
  height: 2px;
  background-image: linear-gradient(to left, #00afaf 0%, #164757 58%);
}

#toast-container {
  right: 0px;
  bottom: 0px;
}
#toast-container > div, #toast-container > div:hover {
  display: block;
  opacity: 1;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0px;
}

.toast-progress {
  height: 6px;
}

.toast-message {
  padding: 4px 0;
}

.toast-success {
  background-color: #00afaf;
}
