{% extends 'module.twig.html' %}

{% block title_page %}Administrateurs{% endblock %}

{% if id != -1 %}
	{% set this_page = 'Modification' %}
	{% set title_block_page = 'Modification d\'un utilisateur' %}
{% else %}
	{% set this_page = 'Ajout' %}
	{% set title_block_page = 'Ajout d\'un nouvel utilisateur' %}
{% endif %}

{% block module %}
<form name="form" method="post" action="{{ siteUrl('ext/user_front/edit') }}{% if id != -1 %}/{{ id }}{% endif %}" role="form" class="form-horizontal group-border-dashed">
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
	<div class="row">
		<div class="col-md-12">
			<section class="panel table ext">
				<header class="panel-heading">
					<h2 class="panel-title">{{ title_block_page }}</h2>
				</header>
				<div class="tab-content">
					<div class="tab-pane active panel-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Login</label>
							<div class="col-md-6">
								<input type="text" id="user_front_login" name="user_front_login" class="form-control" value="{{ post.user_front_login }}" />
							</div>
						</div>
						{% if id == -1 %}
						<div class="form-group">
							<label class="col-md-3 control-label">Mot de passe</label>
							<div class="col-md-6">
								<input type="password" id="password" name="password" class="form-control" value="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Confirmer le mot de passe</label>
							<div class="col-md-6">
								<input type="password" id="confirm_password" name="confirm_password" class="form-control" value="" />
							</div>
						</div>
						{% endif %}

						<div class="form-group">
							<label class="col-md-3 control-label">Groupe d'utilisateurs</label>
							<div class="col-md-6">
								<select name="user_front_group_id" class="form-control">
									{% for group in groupRows %}
										<option value="{{ group.user_front_group_id }}" {{ group.user_front_group_id == post.user_front_user_front_group_id ? ' selected' : '' }}>{{ group.user_front_group_name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<a id="btn_back" href="{{ siteUrl('ext/user_front') }}" class="btn btn-sm btn-warning"><i class="fa fa-arrow-left"></i> Retourner à la liste</a>
							</div>

							<div class="col-md-5 col-md-offset-5 text-right">
								<button type="submit" id="btn_submit_stay" name="submit" value="stay" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Enregistrer et continuer l'édition</button>
								<button type="submit" id="btn_submit" name="submit" value="back" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</form>
<script>
	var errorForm = {{ error }};
	var tabError = '{{ tabError }}';
</script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ vendor('pnotify/dist/pnotify.css') }}" />
{% endblock %}

{% block javascripts %}
<script src="{{ vendor('pnotify/dist/pnotify.js') }}"></script>
{% endblock %}